<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header" />

<body>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="title" style="width:130px" class="col-md-4 control-label">标题：</label>
                            <div class="col-md-6">
                                <input name="title" class="form-control" th:value="${query?.title}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="type" style="width:130px" class="col-md-4 control-label">类型：</label>
                            <div class="col-md-6">
                                <select name="type" class="form-control tonto-select-constant" th:attr="selectedvalue=${query?.type}" enumcode="publicity-message-type">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="status" style="width:130px" class="col-md-4 control-label">状态：</label>
                            <div class="col-md-6">
                                <select name="status" class="form-control tonto-select" th:attr="selectedvalue=${query?.status}">
                                    <option value="1">待审核</option>
                                    <option value="9">审核成功</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()">查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="$.reset('#searchbar')">重置</button>
                    </div>
                </div>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">结果</h3>
            </div>
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="view()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>审核</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        $.getConstantEnum(["publicity-message-type", "publicity-message-status"], initDataGrid);
    });

    function initDataGrid(enumMap) {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { radio: true },
                    { title: "标题", field: "title" },
                    { title: "类型", field: "type", sortable: true, formatter: $.getEnumColumnFormatter(enumMap, "publicity-message-type") },
                    { title: "副标题", field: "subtitle" },
                    { title: "发布时间", field: "publishTime", sortable: true, formatter:"date" },
                    { title: "状态", field: "status", sortable: true, formatter: $.getEnumColumnFormatter(enumMap, "publicity-message-status") },
                    { title: "创建人", field: "createUserName"},
                    { title: "审核人", field: "examineUserName"}
                ]
            ],
            url: '/health/publicity/examine/find',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function view() {
        var row = getSelectRow();
        if (row) {
            window.location = '/health/publicity/examine?id=' + row.id;
        }
    }

    function getSelectRow(notShowError) {
        var rows = table.getSelections();
        var row = rows.length > 0 ? rows[0] : null;
        if (!notShowError && !row) {
            $.errorMessage("请选中一条业务数据");
        }
        return row;
    }
    /*]]>*/
    </script>
</body>

</html>