<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header"/>
<style>
.list-title{
	list-style: none;
	padding :5px;
	background-color:#8bcaef;
	margin-bottom:5px;
}
</style>
<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <header class="main-header" style="background-color:#43c7a8">
    <nav class="navbar navbar-static-top">
      <div class="container">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">宣传内容<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">疾病查询</a></li>
                <li><a href="#">疾病知识</a></li>
                <li><a href="#">症状知识</a></li>
                <li><a href="#">健康处方</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header" style="height:50px;">
        <img id="logo"/>
        <ol class="breadcrumb" style="float:left">
          <li><a href="#"><i class="fa fa-home"></i> 当前所在的位置：主页</a></li>
          <li><a href="/health/video/topVideo">宣传宣传教育</a></li>
          <li class="active">宣传宣传教育信息</li>
        </ol>
      </section>
<section class="content">
    <div class="row">
        <div class="col-sm-8" style="left: 80px" >
            <div style="min-height: 500px">
                <h2 th:text="${message.title}" style="text-align: center"></h2>
                <p th:text="|发布时间：  ${#dates.format(message.publishTime,'yyyy-MM-dd')}|" style="text-align: right"></p>
                <!-- <h5>信息内容:</h5>-->
                <div style="text-align: center" class="media-object" th:utext="${message.content}"></div>
                <p  th:text="|标签：${message.label != null ? message.label:'暂无'}|"></p>
            </div>
            <div>
            	<p th:if="${preMessage.id != null}">
            	    <a th:href="${'/health/publicity/message/display/index?id='+ preMessage.id}" th:text="|上一篇：${preMessage.title}|"></a>
            	</p>
                <p th:if="${preMessage.id == null}" th:text="上一篇：到顶了"></p>
            	<p th:if="${nextMessage.id != null}">
            	    <a  th:href="${'/health/publicity/message/display/index?id='+ nextMessage.id}" th:text="|下一篇：${nextMessage.title}|"></a>
            	</p>
            	<p th:if="${nextMessage.id == null}" th:text="下一篇：到底了"></p>
            </div>
        </div>
        <div class="col-sm-3" style="top:20px;left: 60px;margin-left:30px;">
            <div class="box box-solid">
                <ul>
                <li th:each="message,iter: ${messages}" class="list-title">
                <a style="color:black;font-size:16px" th:href="${'/health/publicity/message/display/index?id='+ message.id}"
                th:text="${message.title}"></a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</div>
<div th:include="/health/footer"/>
<script type="text/javascript">
</script>
</body>
</html>