<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="publicity-message-type,publicity-message-status" />
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-md-1 control-label">标题：</label>
                        <div class="col-md-2">
                            <input name="title" class="form-control" th:value="${query?.title}" />
                        </div>
                        <label for="type" class="col-md-1 control-label">类型：</label>
                        <div class="col-md-2">
                            <select name="type" class="form-control tonto-select-constant" th:attr="selectedvalue=${query?.type}" enumcode="publicity-message-type">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <label for="status" class="col-md-1 control-label">状态：</label>
                        <div class="col-md-2">
                            <select name="status" class="form-control tonto-select-constant" th:attr="selectedvalue=${query?.status}" enumcode="publicity-message-status">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="$.reset('#searchbar')"><i class="fa fa-repeat"></i>重置</button>
                    </div>
                </div>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">结果</h3>
            </div>
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="add()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>新增</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "标题", field: "title" },
                    { title: "类型", field: "type", sortable: true, enumcode: "publicity-message-type" },
                    { title: "副标题", field: "subtitle" },
                    { title: "发布时间", field: "publishTime", formatter: "date" },
                    { title: "状态", field: "status", sortable: true, enumcode: "publicity-message-status" },
                    {
                        title: "操作",
                        align: "center",
                        width: "200px",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            },
                            'click .remove': function(e, value, row, index) {
                                remove(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>' +
                                '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';

                        }
                    }
                ]
            ],
            url: '/health/publicity/message/find',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function add() {
        window.location = '/health/publicity/message/add';
    }

    function detail(row) {
        if (row) {
            window.location = '/health/publicity/message/detail?id=' + row.id;
        }
    }

    function remove(row) {
        if (row) {
            layer.confirm('确定删除吗?', function() {
                $.getAjax('/health/publicity/message/remove?id=' + row.id, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        }
    }

    function getSelectRow(notShowError) {
        var rows = table.getSelections();
        var row = rows.length > 0 ? rows[0] : null;
        if (!notShowError && !row) {
            $.errorMessage("请选中一条业务数据");
        }
        return row;
    }
    /*]]>*/
    </script>
</body>

</html>