<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="health/header" />

<body>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">详情</h3>
                <div class="pull-right box-tools">
                    <a class="btn btn-default btn-sm" href="/health/publicity/index">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal" th:object="${object}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题：</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="*{title}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">副标题：</label>
                        <div class="col-sm-5">
                            <p class="form-control-static" th:text="*{subtitle}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型：</label>
                        <div class="col-sm-3">
                            <p class="form-control-static" id="type" th:attr="enum-code-value=${object.type}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发布时间：</label>
                        <div class="col-sm-3">
                            <p class="form-control-static" th:text="${#dates.format(object.publishTime, 'yyyy-MM-dd')}" />
                        </div>
                    </div>
                    <div class="form-group">                      
                        <label class="col-sm-2 control-label">发布目标：</label>
                        <div class="col-sm-10">
	                        <div class="checkbox">
	                            <label class="checkbox-inline">
	                                <input type="checkbox" disabled="disabled" th:checked="${object.toWeixin!=null&&object.toWeixin==1}">微信
	                            </label>
	                            <label class="checkbox-inline">
	                                <input type="checkbox" disabled="disabled" th:checked="${object.toCellphone!=null&&object.toCellphone==1}">短信
	                            </label>
	                            <label class="checkbox-inline">
	                                <input type="checkbox" disabled="disabled" th:checked="${object.toApp!=null&&object.toApp==1}">APP
	                            </label>
	                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容：</label>
                        <div class="col-sm-8">
                            <p class="form-control-static" th:text="*{content}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:include="health/footer" />
    <script type="text/javascript">
    $(function() {
        $.getConstantEnum([
            { code: "publicity-message-type", type: 'p', target: '#type' },
        ]);
    });
    </script>
</body>

</html>