<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />
<link rel="stylesheet" href="/static/assets/ueditor/themes/default/css/ueditor.min.css" />
<link rel="stylesheet" href="/static/assets/tagsinput/bootstrap-tagsinput.css" />

<body>
    <tt:constant enumcode="publicity-message-type,publish-target-type" />
    <section class="content-header">
        <h1>信息详情</h1>
        <ol class="breadcrumb">
            <li><a href="/health/publicity/message/index"><i class="fa fa-list-alt"></i>信息列表</a></li>
            <li class="active">信息详情</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-edit"></i>
                <h3 class="box-title">详情</h3>
                <div class="box-tools pull-right">
                    <a class="btn" id="model_edit_btn" href="javascript:void(0)"><i class="fa fa-edit"></i>编辑</a>
                </div>
            </div>
            <div id="model_view" class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label">标题：</label>
                        <div class="col-sm-3">
                            <p name="title" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishTime" class="col-sm-3 control-label">发布时间：</label>
                        <div class="col-sm-3">
                            <p name="publishTime" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label">类型：</label>
                        <div class="col-sm-3">
                            <p name="type" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="label" class="col-sm-3 control-label">标签：</label>
                        <div class="col-sm-3">
                            <p id="labelP" name="label" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group" id="attachments">
                        <label for="thumbnail" class="col-sm-3 control-label">标题配图：</label>
                        <div name="thumbnail" class="col-sm-8">
                        </div>
                    </div>
                    <div class="form-group" id="publishTargetViewGroup">
                        <label for="publishTarget" class="col-sm-3 control-label">发送对象：<br>
                        </label>
                        <div class="col-sm-8">
                            <p id="publishTargetP" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="summary" class="col-sm-3 control-label">简介：</label>
                        <div class="col-sm-8">
                            <p name="summary" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-3 control-label">内容：</label>
                        <div class="col-sm-3">
                            <p id="contentP" class="form-control-static description">
                            </p>
                        </div>
                    </div>
                    <div class="form-group" id="attachments">
                        <label for="attachments" class="col-sm-3 control-label">附件：</label>
                        <div name="attachments" class="col-sm-8">
                        </div>
                    </div>
                </form>
            </div>
            <div id="model_edit" class="box-body" style="display: none">
                <form id="model_form" action="/health/publicity/message/update" method="post" class="form-horizontal edit-body" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>标题：</label>
                        <div class="col-sm-3">
                            <input name="title" placeholder="请输入标题" type="text" class="form-control" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishTime" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发布时间：</label>
                        <div class="col-sm-3">
                            <input name="publishTime" placeholder="请输入发布时间" type="text" autocomplete="off" class="form-control tonto-datepicker-date" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>类型：</label>
                        <div class="col-sm-3 tonto-radio-constant" name="type" enumcode="publicity-message-type">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="label" class="col-sm-3 control-label">标签：</label>
                        <div class="col-sm-3">
                            <input name="label" id="label" type="text" class="form-control" placeholder="输入内容后回车"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="thumbnailImage" class="col-sm-3 control-label">标题配图：</label>
                        <div class="col-sm-5">
                            <input type="file" name="thumbnailImage">
                        </div>
                    </div>
                    <div class="form-group" id="publishTargetGroup" style="display: none">
                        <label for="publishTarget" class="col-sm-3 control-label">发送对象：<br>
                            <font style="color:red">（不选为全部）</font>
                        </label>
                        <div class="col-sm-8" id="publishTargetDiv">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="summary" class="col-sm-3 control-label">简介：</label>
                        <div class="col-sm-5">
                            <textarea name="summary" style="width:100%;height: 150px" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>内容：</label>
                        <div class="col-sm-8" id="contentDiv">
                            <script type="text/plain" id="myEditor" style="width:100%;height:540px;"></script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attachmentFiles" class="col-sm-3 control-label">附件：</label>
                        <div class="col-sm-8">
                            <input type="file" name="attachmentFiles" multiple>
                        </div>
                    </div>
                    <input type="hidden" id="statusInput" name="status" />
                    <div class="form-group">
                        <div class="col-sm-1 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-block" onclick="setStatus(0)">暂存</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-success btn-block" onclick="setStatus(1)">提交</button>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1">
                            <button type="button" id="model_form_cancel_btn" class="btn btn-default btn-block">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-5 btn-back">
            <a href="/health/publicity/message/index" class="btn btn-primary btn-block">返回</a>
        </div>
    </section>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/health/footer" />
    <script type="text/javascript" src="/static/assets/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/static/assets/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/static/assets/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript">
    var messageData;

    function fillViewHandler(model, data) {
        $("#contentP").html(data.content);
        if (data.type == 2) {
            $("#publishTargetViewGroup").hide();
            $("#contentP").html('<a href="javascript:previewContent()"><i class="glyphicon glyphicon-search"></i>查看富文本</a>');
            var ns = data.label,
                c = "";
            if (ns) {
                ns = ns.split(",");
                ns.forEach(function(n) {
                    c += '<span class="label label-info" style="margin-right:10px">' + n + '</span>';
                })
            }
            $("#labelP").html(c);

        } else {
            $("#publishTargetViewGroup").show();
            $("#attachments").hide();
            var ns = data.publishTarget && data.publishTarget.split(","),
                c = "";
            if (ns) {
                ns.forEach(function(n) {
                    if (n) {
                        c += '<span class="label label-warning" style="margin-right:10px">' + $.getConstantEnumValue("publish-target-type",n) + '</span>';
                    }
                });
            } else {
                c = "全部"
            }

            $("#publishTargetP").html(c);
            $("#contentP").html(data.content);
        }
    }

    function previewContent() {
        if (messageData) {
            $.openPageLayer('<div style="padding:40px;padding-right:55px">' + messageData.content + '</div>');
        }
    }

    function fillEditHandler(model, data) {
        typeCheckedHandler(data.type);
        if (data.type == 2) {
            editor.setContent(data.content);
            var ns = data.label,
                c = "";
            if (ns) {
                ns = ns.split(",");
                ns.forEach(function(n) {
                    $("#label").tagsinput("add", n);
                })
            }
        } else if (data.type == 1 || data.type == 3) {
            messageInput.val(data.content);
        }
    }

    function setStatus(stat) {
        $("#statusInput").val(stat);
    }

    $(function() {
        $("#label").tagsinput();
        initEditor();
        var options = {
            id: "model",
            name: "详情",
            url: "/health/publicity/message/update?id=" + $("#id").val(),
            columns: [
                { title: "标题", name: "title", inputType: "TEXT" },
                { title: "类型", name: "type", inputType: "RADIO", enum: "publicity-message-type" },
                { title: "标题配图", name: "thumbnail",  inputType: "ATTACHMENT", maxFileCount: 1, fileName: "thumbnailImage", dependency: ["type", "2"] },
                { title: "简介", name: "summary", inputType: "TEXT", dependency: ["type", "2"] },
                { title: "发布时间", name: "publishTime", inputType: "DATE" },
                { title: "内容", name: "content", inputType: "TEXT" },
                { title: "标签", name: "label", inputType: "TEXT", dependency: ["type", "2"] },
                { title: "附件", name: "attachments", inputType: "ATTACHMENT", fileName: "attachmentFiles", dependency: ["type", "1", "2"] }
            ]
        }

        $.getAjax("/health/publicity/message/get?id=" + $("#id").val(), function(data) {
            var model = new tonto.Model("model", options.columns, {
                pattern: data.status == 0 || data.status == 2 ? "normal" : "view",
                extraParam: function() {
                    var type = $('input[name="type"]:checked').val();
                    var result = { id: $("#id").val() };
                    if (type == 2) {
                        result.content = editor.getContent();
                    } else if (type == 1 || type == 3) {
                        var pt = "";
                        $('input[name="ptarget"]:checked').each(function(i, dom) {
                            pt += dom.value + ",";
                        });
                        if (pt) {
                            result.publishTarget = pt;
                        }
                    }
                    return result;
                },
                fillEditHandler: fillEditHandler,
                fillViewHandler: fillViewHandler
            });
            model.setData(data);
            messageData = data;
            initPublishTarget();
        });
    });

    var current = -1,
        editor, urlInput, messageInput;

    function initEditor() {
        $("input:radio[name='type']").on('ifChecked', function(a, b) {
            typeCheckedHandler(a.currentTarget.value);
        });

        editor = UE.getEditor('myEditor');
        messageInput = $('<textarea name="content" class="no-validate" style="width:100%;height: 300px;display:none" disabled="disabled"></textarea>');
        $("#contentDiv").append(messageInput);
    }

    function typeCheckedHandler(type) {
        if (current == type) {
            return;
        }

        if ( type == 2) {
            editor.setShow();
            messageInput.hide();
            messageInput.attr("disabled", true);
            $("#publishTargetGroup").hide();
        } else if (type == 1 ) {
            editor.setHide();
            messageInput.show();
            messageInput.attr("disabled", false);
            $("#publishTargetGroup").hide();
        } else if (type == 3) {
            editor.setHide();
            messageInput.show();
            messageInput.attr("disabled", false);
            $("#publishTargetGroup").show();
        }

        current = type;
    }

    function initPublishTarget() {
        var targetData = window._constant_cache['publish-target-type'];
        var v = messageData.publishTarget;
        v = v ? v.split(",") : null;
        var c = $("#publishTargetDiv");
        for (var i = 0; i < targetData.length; i++) {
            var d = targetData[i];
            var has = false;
            if (v) {
                for (var j = 0; j < v.length; j++) {
                    if (v[j] == d.key) {
                        has = true;
                        break;
                    }
                }
            }

            var k = $('<label class="control-label radio-label"><input type="checkbox"' + (has ? ' checked="checked "' : '') + 'name="ptarget" value="' + d.key + '">&nbsp;&nbsp;' + d.value + '&nbsp;&nbsp;</label>');
            c.append(k);
            k.iCheck({
                checkboxClass: 'icheckbox_square-blue', // 注意square和blue的对应关系
                radioClass: 'iradio_square-blue'
            });
        }
    }
    </script>
</body>

</html>