<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="publicity-material-type" />
    <input type="hidden" name="year" />
    <section class="content-header">
        <h1>健康教育宣传资料登记表</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select name="agencyId" class="form-control" th:value="${query?.agencyId}">
                                <option value="">请选择机构</option>
                                <option th:each="agency : ${agencyList}" th:value="${agency.Id}" th:text="${agency.name}"></option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="workCycle" class="form-control tonto-datepicker-year" autocomplete="off" placeholder="请输入工作周期" th:value="${query}? ${query.workCycle} : ${year}">
                        </div>
                        <div class="col-md-2">
                            <select name="type" class="form-control tonto-select-constant" enumcode="publicity-material-type">
                                <option value="">请选择资料类型</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="text" name="name" placeholder="请输入宣传资料名称" class="form-control" th:value="${query?.name}" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="startTime" placeholder="请输入开始时间" class="form-control tonto-datepicker-date" autocomplete="off" th:value="${query?.startTime}" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="endTime" placeholder="请输入结束时间" class="form-control tonto-datepicker-date" autocomplete="off" th:value="${query?.endTime}" />
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="add()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加宣传资料</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "序号", align: "center", formatter: function(value, row, index) { return index + 1; } },
                    { title: "工作周期", align: "center", field: "workCycle" },
                    { title: "日期", align: "center", field: "date", formatter: "date" },
                    { title: "所属机构", align: "center", field: "agencyName" },
                    { title: "宣传资料名称", align: "center", field: "name" },
                    { title: "宣传资料类型", align: "center", field: "type", enumcode: "publicity-material-type" },
                    { title: "编发单位", align: "center", field: "compileIssueUnit" },
                    { title: "数量", align: "center", field: "count" },
                    { title: "备注", align: "center", field: "remarks", visible: false },
                    {
                        title: "操作",
                        align: "center",
                        width: "200px",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            },
                            'click .share': function(e, value, row, index) {
                                distribute(row);
                            },
                            'click .remove': function(e, value, row, index) {
                                remove(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>' +
                                '<button class="share btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-share"></i>发放</button>' +
                                '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';
                        }
                    }
                ]
            ],
            url: '/health/publicity/material/find/page',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function add() {
        window.location = '/health/publicity/material/add';
    }

    function detail(row) {
        window.location = '/health/publicity/material/detail' + (row ? ('?id=' + row.id) : '');
    }

    function distribute(row) {
        window.location = '/health/publicity/material/grant/add' + (row ? ('?name=' + row.name + '&type=' + row.type + '&id=' + row.id) : '');
    }

    function remove(row) {
        if (row) {
            layer.confirm('确定删除吗?', function() {
                $.getAjax('/health/publicity/material/delete?id=' + row.id, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        }
    }

    function getSelectRow(notShowError) {
        var rows = table.getSelections();
        var row = rows.length > 0 ? rows[0] : null;
        if (!notShowError && !row) {
            $.errorMessage("请选中一条业务数据");
        }
        return row;
    }
    </script>
</body>

</html>