<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    
    <section class="content-header">
        <h1>publicity_video</h1>
        <ol class="breadcrumb">
            <li><a href="/health/publicity/video/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/health/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/health/publicity/video/update?id="+$("#id").val(),
	        columns: [
				{ title: "工作周期", name: "workCycle", inputType: "TEXT" },
				{ title: "所属机构", name: "agencyId", inputType: "TEXT" },
				{ title: "音像名称", name: "name", inputType: "TEXT" },
				{ title: "数量", name: "count", inputType: "TEXT" },
				{ title: "制作单位", name: "makeUnit", inputType: "TEXT" },
				{ title: "备注", name: "remarks", inputType: "TEXT" }
				]
	    }
    
        $.getAjax("/health/publicity/video/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
            $.initComponment();
        });
    });
    </script>
</body>

</html>