<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
	<tt:constant enumcode="publicity-material-type,grant-target-type" />
	<section class="content-header">
		<h1>健康教育资料发放记录</h1>
		<ol class="breadcrumb">
			<li><a href="/health/publicity/material/index"><i class="fa fa-list-alt"></i>列表</a></li>
			<li class="active">新增</li>
		</ol>
	</section>
	<section class="content">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="glyphicon glyphicon-user"></i>
				<h3 class="box-title">新增</h3>
				<div class="box-tools pull-right"></div>
			</div>
			<div id="model_edit" class="box-body">
				<form id="model_form" action="/health/publicity/material/grant/save" method="post" class="form-horizontal edit-body">
					<div class="form-group">
						<label for="workCycle" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>工作周期：</label>
						<div class="col-sm-3">
							<input name="workCycle" required="required" type="text" placeholder="请输入工作周期"
								class="form-control tonto-datepicker-year" autocomplete="off" />
						</div>
						<input id="workCycle" type="hidden" th:value="${material.workCycle}" >
						<label for="materialName" class="col-sm-2 control-label">资料名称：</label>
						<div class="col-sm-3">
							<input id="materialName" type="hidden" th:value="${material.name}" >
							<input name="materialName" type="text"  class="form-control" readonly="readonly">
						</div>
					</div>
					<input name="materialId" id="materialId" type="hidden" th:value="${material.id}" >
					<div class="form-group">
						<label for="materialType" class="col-sm-3 control-label">资料类型：</label>
						<div class="col-sm-3">
							<input id="type" name="type" type="hidden" th:value="${material.type}"/>
							<select name="materialType" class="form-control tonto-select-constant" enumcode="publicity-material-type" disabled >
								<option value="">请选择</option>
							</select>
						</div>
						<label for="count" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>数量：</label>
						<div class="col-sm-3">
							<input name="count" required="required"  th:placeholder="${material.count == 0 ? '该资料已发放完' : '请输入不超过'+ material.count +'的数量'}" type="number"  th:attr="max=${material.count}" min="1" th:disabled="${material.count == 0}"
								class="form-control" autocomplete="off">
						</div>
						<!-- <label style ="color:red;" class="col-sm-2 control-label" id="spare"></label> -->
					</div>
					<div class="form-group">
						<label for="grantDate" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放日期：</label>
						<div class="col-sm-3">
							<input name="grantDate" required="required" placeholder="请输入发放日期" type="text"
								class="form-control tonto-datepicker-date" autocomplete="off" />
						</div>
						<label for="grantTargetType" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放对象类型：</label>
						<div class="col-sm-3">
							<select name="grantTargetType" id="grantTargetType"
								class="form-control tonto-select-constant" enumcode="grant-target-type" onchange="changTargetDiv()">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="grantTarget"  id="targetOrgLabel" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放对象：</label>
						<div class="col-sm-3" id="targetOrg" >
							<div class="input-group"><input name="grantTarget" placeholder="请选择发放对象" class="form-control" autocomplete="off" readonly="readonly" style="background: rgb(255, 255, 255);" required="required">
								<span class="input-group-addon" id="tonto-tree-select-remove-agencyId" style="cursor:pointer"><i class="glyphicon glyphicon-remove"></i></span></div>
						</div>
						<label for="grantTarget"  id="targetNameLabel" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放对象：</label>
						<div class="col-sm-3" id="targetName">
							<input type="text" name="grantTargetName" placeholder="请输入发放对象名称" class="form-control">
						</div>
						<label for="grantorAgency" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放机构：</label>
						<div class="col-sm-3">
							<input type="text" th:value="${material.agencyName}" class="form-control" readonly>
							<input type="hidden"  name="grantorAgency"  th:value="${material.agencyId}">
						</div>
					</div>
					<div class="form-group">
						<label for="receiver" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>接收人：</label>
						<div class="col-sm-3">
							<input name="receiver" required="required" placeholder="请输入接收人" type="text"
								   class="form-control" autocomplete="off">
						</div>
						<label for="grantor" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放人：</label>
						<div class="col-sm-3">
							<input name="grantor" required="required" placeholder="请输入发放人" type="text"
							class="form-control" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="remarks" class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-8">
							<textarea name="remarks" placeholder="请输入备注" style="width:100%;height: 150px" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="attachmentFiles" class="col-sm-3 control-label">附件：</label>
						<div class="col-sm-8" name="attachments">
							<input type="file" name="attachmentFiles" multiple>
						</div>
					</div>
					<input type="hidden" id="attachments" th:value="${material.attachments}">
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" id="model_form_submit_btn"
								class="btn btn-primary btn-block">保存</button>
						</div>
						<div class="col-sm-2 col-sm-offset-1">
							<button type="button" id="reply_btn" class="btn btn-default btn-block">返回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<div th:include="/health/footer" />
	<script type="text/javascript">
		var allowedFileExtensions = ["jpeg", "jpg", "png", "gif", "rar", "zip", "pdf", "xls", "txt", "xlsx", "doc", "docx"];
		var options = {
			id : "model",
			name : "新增",
			url : "/health/publicity/material/grant/save",
			columns : [ 
			            {title : "工作周期", name : "workCycle", inputType : "TEXT"},
			            {title : "资料名称", name : "materialName", inputType : "TEXT"}, 
			            {title : "资料类型", name : "materialType", enum : "publicity-material-type", inputType : "SELECT"}, 
			            {title : "数量", name : "count", inputType : "TEXT"},
			            {title : "发放日期", name : "grantDate", inputType : "DATE"},
			            {title : "发放对象类型", name : "grantTargetType", enum : "grant-target-type", inputType : "SELECT"},
			            {title : "发放对象", name : "grantTarget",inputType: "SELECT-TREE-SERVER", url: "/health/org/agency/find/own/tree"},
			            {title : "发放人", name : "grantor", inputType : "TEXT"}, 
			            {title : "接收人", name : "receiver", inputType : "TEXT"},
			            {title : "备注", name : "remarks", inputType : "TEXT"} ,
						{ title: "附件", name: "attachments", inputType: "ATTACHMENT", fileName: "attachmentFiles", allowedFileExtensions: allowedFileExtensions }
			           ]
		}

		$(function() {
			$("#reply_btn").click(function () {
				window.location = "/health/publicity/material/index";
			});
			changTargetDiv();
			var model = new tonto.Model(
				"model",
				options.columns,
				{
					pattern : "edit",
					successCallback : function() {
						$.successAlert(
							"保存成功",
							function() {
								window.location = "/health/publicity/material/index";
							});
					},
					extraParam: function() {
			              return {
			            	  materialType : $("select[name='materialType']").val()
			              }
			          }
				});
			inintData(model);
			$("select[name='materialType']").val($("input[name='type']").val());
		});

		function inintData(model) {
			model.setData({
				workCycle : $("#workCycle").val(),
				materialName : $("#materialName").val(),
				materialType : $("#type").val(),
				attachments : $("#attachments").val()
			})
		}

		function changTargetDiv() {
			let val = $("#grantTargetType option:selected").val();
			if (val == 1) {
				$("#targetOrgLabel").show();
				$("#targetOrg").show();
				$("#targetNameLabel").hide();
				$("#targetName").hide();
			}else if (val == 2) {
				$("#targetOrgLabel").hide();
				$("#targetOrg").hide();
				$("#targetNameLabel").show();
				$("#targetName").show();
			}
		}
	</script>
</body>

</html>