<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
	<tt:constant enumcode="publicity-material-type,grant-target-type" />
	<section class="content-header">
		<h1>健康教育资料发放记录</h1>
		<ol class="breadcrumb">
			<li><a href="/health/publicity/material/index"><i class="fa fa-list-alt"></i>列表</a></li>
			<li class="active">新增</li>
		</ol>
	</section>
	<section class="content">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="glyphicon glyphicon-user"></i>
				<h3 class="box-title">新增</h3>
				<div class="box-tools pull-right"></div>
			</div>
			<div id="model_edit" class="box-body">
				<form id="model_form" action="/health/publicity/material/grant/save" method="post" class="form-horizontal edit-body">
					<div class="form-group">
						<label for="workCycle" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>工作周期：</label>
						<div class="col-sm-3">
							<input name="workCycle" required="required" type="text" placeholder="请输入工作周期"
								class="form-control tonto-datepicker-year" autocomplete="off" th:value="${workCycle}" />
						</div>
						<label for="materialName" class="col-sm-2 control-label">资料名称：</label>
						<div class="col-sm-3">
							<input name="materialId" type="hidden" th:value="${materialId}">
							<input name="materialName" type="text" th:value="${name}" class="form-control" readonly="readonly">
						</div>
					</div>
					<div class="form-group">
						<label for="materialType" class="col-sm-3 control-label">资料类型：</label>
						<div class="col-sm-3">
							<input name="type" type="hidden" th:value="${type}"/>
							<select name="materialType" class="form-control tonto-select-constant" enumcode="publicity-material-type" value="${type}" disabled="disabled">
								<option value="">请选择</option>
							</select>
						</div>
						<label for="count" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>数量：</label>
						<div class="col-sm-3">
							<input name="count" required="required"  th:placeholder="${count == 0 ? '该资料已发放完' : '请输入不超过'+ count +'的数量'}" type="number"  th:attr="max=${count}" min="1" th:disabled="${count == 0}"
								class="form-control" autocomplete="off">
						</div>
						<!-- <label style ="color:red;" class="col-sm-2 control-label" id="spare"></label> -->
					</div>
					<div class="form-group">
						<label for="grantDate" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放日期：</label>
						<div class="col-sm-3">
							<input name="grantDate" required="required" placeholder="请输入发放日期" type="text"
								class="form-control tonto-datepicker-date" autocomplete="off" />
						</div>
						<label for="grantTargetType" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放对象类型：</label>
						<div class="col-sm-3">
							<select name="grantTargetType" id="grantTargetType"
								class="form-control tonto-select-constant" enumcode="grant-target-type" onchange="changTargetDiv()">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="grantTarget" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放对象：</label>
						<div class="col-sm-3" id="targetOrg" >
							<select name="grantTarget" class="form-control">
                                <option th:each="agency : ${agencyList}" th:value="${agency.Id}"
                                th:selected="${grantTarget == agency.Id}"
                                th:text="${agency.name}"></option>
                            </select>
						</div>
						<div class="col-sm-3" id="targetName" style="display: none">
							<input type="text" name="grantTargetName" placeholder="请输入发放对象名称" class="form-control">
						</div>
						<label for="grantorAgency" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放机构：</label>
						<div class="col-sm-3">
					       <select name="grantorAgency" class="form-control" th:value="${agencyId}">
                               <option th:each="agency : ${agencyList}" th:value="${agency.Id}"
                               th:selected="${agencyId == agency.Id}"
                               th:text="${agency.name}"></option>
                           </select>
						</div>
					</div>
					<div class="form-group">
						<label for="receiver" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>接收人：</label>
						<div class="col-sm-3">
							<input name="receiver" required="required" placeholder="请输入接收人" type="text"
								   class="form-control" autocomplete="off">
						</div>
						<label for="grantor" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放人：</label>
						<div class="col-sm-3">
							<input name="grantor" required="required" placeholder="请输入发放人" type="text"
							class="form-control" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="remarks" class="col-sm-3 control-label">备注：</label>
						<div class="col-sm-3">
							<input name="remarks" placeholder="请输入备注" type="text"
								class="form-control" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" id="model_form_submit_btn"
								class="btn btn-primary btn-block">保存</button>
						</div>
						<div class="col-sm-2 col-sm-offset-1">
							<button type="button" id="reply_btn" class="btn btn-default btn-block">返回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<div th:include="/health/footer" />
	<script type="text/javascript">
		var options = {
			id : "model",
			name : "新增",
			url : "/health/publicity/material/grant/save",
			columns : [ 
			            {title : "工作周期", name : "workCycle", inputType : "TEXT"}, 
			            {title : "资料Id", name : "materialId", inputType : "TEXT"},
			            {title : "资料名称", name : "materialName", inputType : "TEXT"}, 
			            {title : "资料类型", name : "materialType", enum : "publicity-material-type", inputType : "SELECT"}, 
			            {title : "数量", name : "count", inputType : "TEXT"},
			            {title : "发放日期", name : "grantDate", inputType : "DATE"},
			            {title : "发放对象类型", name : "grantTargetType", enum : "grant-target-type", inputType : "SELECT"},
			            {title : "发放对象", name : "grantTarget", inputType : "TEXT", dependency: ["grantTargetType", "1"]},
			            {title : "发放机构", name : "grantorAgency", inputType : "TEXT"}, 
			            {title : "发放人", name : "grantor", inputType : "TEXT"}, 
			            {title : "接收人", name : "receiver", inputType : "TEXT"},
			            {title : "备注", name : "remarks", inputType : "TEXT"} 
			           ]
		}

		$(function() {
			$("#reply_btn").click(function () {
				window.location = "/health/publicity/material/index";
			});
			var model = new tonto.Model(
				"model",
				options.columns,
				{
					pattern : "edit",
					successCallback : function() {
						$.successAlert(
							"保存成功",
							function() {
								window.location = "/health/publicity/material/index";
							});
					},
					extraParam: function() {
			              return {
			            	  materialType : $("select[name='materialType']").val()
			              }
			          }
				});
			$("select[name='materialType']").val($("input[name='type']").val());
/*			$.getAjax("/health/publicity/material/grant/checkCount?id="+ $("input[name='materialId']").val(),
				function(data) {
				var total,reduce;
				if(!data.reduce){
					reduce=0;
				}else{
					reduce=data.reduce;
				}
				var spare=data.total-reduce;
				document.getElementById("spare").innerText ="剩余数量："+ spare;
			});*/
		});
		function changTargetDiv() {
			let val = $("#grantTargetType option:selected").val();
			if (val == 1) {
				$("#targetOrg").show();
				$("#targetName").hide();
			}else if (val == 2) {
				$("#targetOrg").hide();
				$("#targetName").show();
			}
		}
	</script>
</body>

</html>