<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
	<tt:constant enumcode="publicity-material-type,grant-target-type" />
	<section class="content-header">
		<h1>健康教育资料发放记录</h1>
		<ol class="breadcrumb">
			<li><a href="/health/publicity/material/grant/index"><i class="fa fa-list-alt"></i>列表</a></li>
			<li class="active">详情</li>
		</ol>
		<section class="content">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="glyphicon glyphicon-user"></i>
					<h3 class="box-title">详情</h3>
					<!--<div class="box-tools pull-right">
						<a class="btn" id="model_edit_btn" href="javascript:void(0)"><i
							class="fa fa-edit"></i>编辑</a>
					</div>-->
				</div>
				<div id="model_view" class="box-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="workCycle" class="col-sm-3 control-label">工作周期：</label>
							<div class="col-sm-3">
								<p name="workCycle" class="form-control-static description"></p>
							</div>
							<label for="materialName" class="col-sm-2 control-label">资料名称：</label>
							<div class="col-sm-3">
								<p name="materialName" class="form-control-static description"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="materialType" class="col-sm-3 control-label">资料类型：</label>
							<div class="col-sm-3">
								<p name="materialType" class="form-control-static description"></p>
							</div>
							<label for="count" class="col-sm-2 control-label">数量：</label>
							<div class="col-sm-3">
								<p name="count" class="form-control-static description"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="grantDate" class="col-sm-3 control-label">发放日期：</label>
							<div class="col-sm-3">
								<p name="grantDate" class="form-control-static description"></p>
							</div>
							<label for="grantTargetType" class="col-sm-2 control-label">发放对象类型：</label>
							<div class="col-sm-3">
								<p name="grantTargetType"
									class="form-control-static description"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="grantTargetName" class="col-sm-3 control-label">发放对象：</label>
							<div class="col-sm-3" id="orgName">
								<p name="grantTargetOrgName" class="form-control-static description"></p>
							</div>
							<div class="col-sm-3" id="name">
								<p name="grantTargetName" class="form-control-static description"></p>
							</div>
						</div>
						<div class="form-group">
							<label for="grantor" class="col-sm-3 control-label">发放人：</label>
							<div class="col-sm-3">
								<p name="grantor" class="form-control-static description"></p>
							</div>
							<label for="agencyName" class="col-sm-2 control-label">发放机构：</label>
							<div class="col-sm-3">
								<p name="agencyName" class="form-control-static description"></p>
							</div>
						</div>
						<div class="form-group">
						    <label for="receiver" class="col-sm-3 control-label">接收人：</label>
							<div class="col-sm-3">
								<p name="receiver" class="form-control-static description"></p>
							</div>
						    
							<label for="remarks" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-3">
								<p name="remarks" class="form-control-static description"></p>
							</div>
						</div>
					</form>
				</div>
<!--				&lt;!&ndash; 编辑 &ndash;&gt;
				<div id="model_edit" class="box-body" style="display: none">
					<form id="model_form"
						action="/health/publicity/material/grant/update" method="post"
						class="form-horizontal edit-body">
						<div class="form-group">
							<label for="workCycle" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>工作周期：</label>
							<div class="col-sm-3">
								<input name="workCycle" required="required" type="text" placeholder="请输入工作周期"
									class="form-control tonto-datepicker-year" autocomplete="off" />
							</div>
							<label for="materialName" class="col-sm-2 control-label">资料名称：</label>
							<div class="col-sm-3">
								<input name="materialId" type="hidden">
								<input name="materialName" placeholder="请输入资料名称" type="text" class="form-control" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<label for="materialType" class="col-sm-3 control-label">资料类型：</label>
							<div class="col-sm-3">
								<select name="materialType" class="form-control tonto-select-constant" enumcode="publicity-material-type" disabled>
								</select>
							</div>
							<label for="count" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>数量：</label>
							<div class="col-sm-3">
								<input name="count" required="required" placeholder="请输入数量" type="number" min="1"
									class="form-control" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<label for="grantDate" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放日期：</label>
							<div class="col-sm-3">
								<input name="grantDate" required="required" placeholder="请输入发放日期" type="text"
									class="form-control tonto-datepicker-date" autocomplete="off">
							</div>
							<label for="grantTargetType" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放对象类型：</label>
							<div class="col-sm-3">
								<select name="grantTargetType" required="required" class="form-control tonto-select-constant" enumcode="grant-target-type">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="grantTarget" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放对象：</label>
							<div class="col-sm-3">
								<select name="grantTarget" class="form-control">
                                   <option th:each="agency : ${agencyList}" th:value="${agency.Id}"
                                   th:selected="${grantTarget == agency.Id}"
                                   th:text="${agency.name}"></option>
                               </select>
							</div>
						</div>
						<div class="form-group">
							<label for="grantor" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发放人：</label>
							<div class="col-sm-3">
								<input name="grantor" required="required" placeholder="请输入发放人" type="text"
									class="form-control" autocomplete="off">
							</div>
							<label for="grantorAgency" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发放机构：</label>
							<div class="col-sm-3">
							    <select name="grantorAgency" class="form-control">
                                   <option th:each="agency : ${agencyList}" th:value="${agency.Id}"
                                   th:selected="${grantorAgency == agency.Id}"
                                   th:text="${agency.name}"></option>
                               </select>
							</div>
						</div>
						<div class="form-group">
							<label for="receiver" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>接收人：</label>
							<div class="col-sm-3">
								<input name="receiver" required="required" placeholder="请输入接收人" type="text"
									class="form-control" autocomplete="off">
							</div>
							<label for="remarks" class="col-sm-2 control-label">备注：</label>
							<div class="col-sm-3">
								<input name="remarks" placeholder="请输入备注" type="text"
									class="form-control" autocomplete="off">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2 col-sm-offset-3">
								<button type="submit" id="model_form_submit_btn"
									class="btn btn-primary btn-block">保存</button>
							</div>
							<div class="col-sm-2 col-sm-offset-1">
								<button type="button" id="model_form_cancel_btn"
									class="btn btn-default btn-block">取消</button>
							</div>
						</div>
					</form>
				</div>-->
			</div>
		</section>
	</section>
	<div class="col-sm-2 col-sm-offset-5 btn-back">
		<a  href="/health/publicity/material/grant/index" class="btn btn-primary btn-block">返回</a>
	</div>
	<input type="hidden" id="id" th:value="${id}" />
	<div th:include="/health/footer" />
	<script type="text/javascript">
		var options = {
			id : "model",
			name : "详情",
			url : "/health/publicity/material/grant/update?id="+ $("#id").val(),
			columns : [ 
			            {title : "工作周期",name : "workCycle",inputType : "TEXT"},
			            {title : "资料名称",name : "materialName",inputType : "TEXT"}, 
			            {title : "资料Id",name : "materialId",inputType : "TEXT"}, 
			            {title : "资料类型",name : "materialType",enum : "publicity-material-type",inputType : "SELECT"},
			            {title : "数量",name : "count",inputType : "TEXT"},
			            {title : "发放日期",name : "grantDate",inputType : "DATE"}, 
			            {title : "发放对象类型",name : "grantTargetType",enum : "grant-target-type",inputType : "SELECT"},
			            {title : "发放对象",name : "grantTargetOrgName",inputType : "TEXT"},
			            {title : "发放对象名称",name : "grantTargetName",inputType : "TEXT"},
			            {title : "发放机构Id",name : "grantorAgency",inputType : "TEXT"},
			            {title : "发放机构",name : "agencyName",inputType : "TEXT"},
			            {title : "发放人",name : "grantor",inputType : "TEXT"},
			            {title : "接收人",name : "receiver",inputType : "TEXT"}, {title : "备注",name : "remarks",inputType : "TEXT"}
			           ]
		}

		$(function() {
			var model = new tonto.Model(
				"model",
					options.columns,
					{
						successCallback : function() {
							$.successAlert(
							"保存成功",
							function() {
							window.location = "/health/publicity/material/grant/index";
						});
					},
					extraParam : function() {
						return {
							id : $("#id").val() || "",
						}
					}
				});
			    
			$.getAjax("/health/publicity/material/grant/get?id="+ $("#id").val(), 
				function(data) {
					if (data.grantTargetType == 1) {
						$("#orgName").show();
						$("#name").hide();
					}else if (data.grantTargetType == 2) {
						$("#orgName").hide();
						$("#name").show();
					}
					model.setData(data);
				});
			});
		
		function checkCount(value){
			$.getAjax("/health/publicity/material/grant/checkCount?id="+ $("input[name='materialId']").val(), 
				function(data) {
				var total,reduce;
				if(!data.reduce){
					reduce=0;
				}else{
					reduce=data.reduce;
				}
				var spare=data.total-reduce;
				if(value > spare){
					layer.msg("所选数量过大！最多可选数量："+spare);
				}
			});
		}
	</script>
</body>

</html>