<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    
    <section class="content-header">
        <h1>publicity_video</h1>
        <ol class="breadcrumb">
            <li><a href="/health/publicity/video/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "新增",
        url:"/health/publicity/video/save",
        columns: [
				{ title: "工作周期", name: "workCycle", inputType: "TEXT" },
				{ title: "所属机构", name: "agencyId", inputType: "TEXT" },
				{ title: "音像名称", name: "name", inputType: "TEXT" },
				{ title: "数量", name: "count", inputType: "TEXT" },
				{ title: "制作单位", name: "makeUnit", inputType: "TEXT" },
				{ title: "备注", name: "remarks", inputType: "TEXT" }
				]
    }

    $(function() {       
        var html = generateEditHtml(options);
        $(".content").html(html);
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            successCallback:function(){
                $.successAlert("保存成功",function(){
                    window.location = "/health/publicity/video/index";
                });
            }
        });
        model.setData(null);
        $.initComponment();
    });
    </script>
</body>

</html>