<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="publicity-material-type"/>
    <section class="content-header">
        <h1>健康教育宣传资料管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/publicity/material/index"><i class="fa fa-list-alt"></i>资料列表</a></li>
            <li class="active">添加资料</li>
        </ol>
    </section>
	<section class="content">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="glyphicon glyphicon-user"></i>
				<h3 class="box-title">添加资料</h3>
				<div class="box-tools pull-right"></div>
			</div>
			<div id="model_edit" class="box-body">
				<form id="model_form" action="/health/publicity/material/save"
					method="post" class="form-horizontal edit-body"
					novalidate="novalidate">
					<div class="form-group">
						<label for="workCycle" class="col-sm-3 control-label" ><i class="required-label fa fa-asterisk"></i>工作周期：</label>
						<div class="col-sm-3">
						 <input name="workCycle" required="required" type="text" placeholder="请输入工作周期"
						 class="form-control tonto-datepicker-year" autocomplete="off"/>
						</div>
						<input id="workCycle" type="hidden" th:value="${workCycle}" >
						<label for="date" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>日期：</label>
						<div class="col-sm-3">
							<input name="date" required="required" type="text" placeholder="请输入日期"
							class="form-control tonto-datepicker-date" autocomplete="off"/>
						</div>
					</div>
					<div class="form-group">
						<label for="agencyId"  id="targetOrgLabel" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>所属机构：</label>
						<div class="col-sm-3" id="targetOrg" >
							<div class="input-group"><input name="agencyId" placeholder="请选择所属机构" class="form-control" autocomplete="off" readonly="readonly" style="background: rgb(255, 255, 255);" required="required">
								<span class="input-group-addon" id="tonto-tree-select-remove-agencyId" style="cursor:pointer"><i class="glyphicon glyphicon-remove"></i></span></div>
						</div>
						<input id="agencyId" type="hidden" th:value="${agencyId}" >
						<label for="count" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>数量：</label>
						<div class="col-sm-3">
							<input name="count" required="required" placeholder="请输入数量" type="number"
								class="form-control" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="type" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>健康教育宣传资料类型：</label>
						<div class="col-sm-3">
							<select name="type" class="form-control tonto-select-constant"
								enumcode="publicity-material-type">
							</select>
						</div>
						<label for="compileIssueUnit" class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>编发单位：</label>
						<div class="col-sm-3">
							<input name="compileIssueUnit" required="required" placeholder="请输入编发单位" type="text"
								class="form-control" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>健康教育宣传资料名称：</label>
						<div class="col-sm-3">
							<input name="name" required="required" placeholder="请输入健康教育宣传资料名称" type="text"
								class="form-control" autocomplete="off">
						</div>
						<label for="remarks" class="col-sm-2 control-label">备注：</label>
						<div class="col-sm-3">
							<input name="remarks" placeholder="请输入备注" type="text"
								class="form-control" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="attachmentFiles" class="col-sm-3 control-label">附件：</label>
						<div class="col-sm-8" name="attachments">
							<input type="file" name="attachmentFiles" multiple>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" id="model_form_submit_btn"
								class="btn btn-primary btn-block">保存</button>
						</div>
						<div class="col-sm-2 col-sm-offset-1">
							<button type="button" id="reply_btn" class="btn btn-default btn-block">返回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<div th:include="/health/footer" />
    <script type="text/javascript">
    var allowedFileExtensions = ["jpeg", "jpg", "png", "gif", "rar", "zip", "pdf", "xls", "txt", "xlsx", "doc", "docx"];
    var options = {
        id: "model",
        name: "新增",
        url:"/health/publicity/material/save",
        columns: [
				{ title: "工作周期", name: "workCycle", inputType: "TEXT" },
				{ title: "日期", name: "date", inputType: "DATE" },
				{ title: "所属机构", name: "agencyId",inputType: "SELECT-TREE-SERVER", url: "/health/org/agency/find/own/tree" },
				{ title: "数量", name: "count", inputType: "TEXT" },
				{ title: "健康教育宣传资料类型", name: "type", enum: "publicity-material-type", inputType: "SELECT" },
				{ title: "编发单位", name: "compileIssueUnit", inputType: "TEXT" },
				{ title: "健康教育宣传资料名称", name: "name", inputType: "TEXT" },
				{ title: "备注", name: "remarks", inputType: "TEXT" },
				{ title: "附件", name: "attachments", inputType: "ATTACHMENT", fileName: "attachmentFiles",  allowedFileExtensions: allowedFileExtensions}
				]
    };

    $(function() {
		$("#reply_btn").click(function () {
			window.location = "/health/publicity/material/index";
		});
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            successCallback:function(){
                $.successAlert("保存成功",function(){
                    window.location = "/health/publicity/material/index";
                });
            }
        });
        model.setData({
			workCycle : $("#workCycle").val(),
			agencyId : $("#agencyId").val()
		})
    });
    </script>
</body>

</html>