<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header" />

<body>
    <tt:constant enumcode="publicity-material-type,grant-target-type"/>
    <input type="hidden" name="year"/>
    <section class="content-header">
        <h1>宣传资料发放统计</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                <div class="input-group" style="width:100%">
                     <label for="grantorAgency"  class="col-md-1 control-label">机构名称</label>
	                    <div class="col-md-2">
	                       <input type="text" id="agencyName" name="agencyName" class="form-control" placeholder="请输入机构" >
	                    </div>
	                   <label for="grantorAgency"  class="col-md-1 control-label">工作周期</label>
	                    <div class="col-md-2">
	                       <input type="text" id="workCycle" name="workCycle" class="form-control tonto-datepicker-year autocomplete="off"" placeholder="请选择时间" >
	                    </div> 
                   </div>
                        
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary " onclick="query()"><i class="fa fa-search"></i>查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                    </div>
                </div>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">结果</h3>
            </div>
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">图表</h3>
            </div>
            <div id="result" class="box-body">
                <div id="toolbar">
                    <div class="col-sm-12">
					<div id="chart" style="height: 350px"></div>
				</div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var table;
    $(function() {
    	 charts(chart);
        initDataGrid();
       
    });
    
    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "机构名称", align: "center", field: "name" },
					{ title: "发放量", align: "center", field: "total" },
                ]
            ],
            url: '/health/publicity/material/grant/count/year',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }
    
  	//图表自适应大小      
    window.addEventListener("resize", function () {
    	chart.resize();
     });     
    
    var chart = echarts.init(document.getElementById('chart'));
    function charts(chart) {
		var workCycle=$("#workCycle").val();
		var agencyName=$("#agencyName").val();
		$.postAjax("/health/publicity/material/grant/count/year",{'workCycle':workCycle,'agencyName':agencyName}, function(result) {
			var list = result.data;
			var chartValue = [];
			var chartName = [];
			list.forEach(function(item) {
				chartValue.push({
					value : item.total
				});
				chartName.push({
					value : item.name
				});
			}) 
			var labelOption = {
						normal : {
							show : true,
							position : 'top',
							distance : 15,
							align : 'center',
							verticalAlign : 'top',
							rotate : 0,
							formatter : '{name|{a}}	 {c}',
							fontSize : 12,
							rich : {
								name : {
									textBorderColor : '#fff'
								}
							}
						}
					};
			option = {
		    color: ['#3398DB'],
		    tooltip : {
		        trigger: 'axis',
		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
		        },
				formatter:function(params){
					return params[0].name+'<br/> '
					+ params[0].seriesName+ ':'
					+ params[0].data.value + '(个数)<br/>'
				}
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox : {
	            show : true,
	            feature : {
	                mark : {show: true},
	                dataView : {show: true, readOnly: false},
	                magicType: {show: true, type: ['line', 'bar']},
	                restore : {show: true},
	                saveAsImage : {show: true}
	            }
	        },
			calculable : true,
		    xAxis : [
		        {
		            type : 'category',
		            data : chartName,
		            axisTick: {
		                alignWithLabel: true
		            }
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'发放量',
		            type:'bar',
		            barWidth: '60%',
		            label : labelOption,
					barGap : 0,
		            data:chartValue,
		        }
		    ]
		};
			chart.setOption(option,true);
		});
	}
    
    function query(){
    	 charts(chart);
    	 table.refresh();
    }
    
    </script>
</body>

</html>