<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.videomanage.VideoMapper">
     <select id="searchPageList" parameterType="com.paladin.health.service.videomanage.dto.VideoQueryDTO" resultType="com.paladin.health.service.videomanage.vo.VideoVO">
	    SELECT
	        id,
		    show_image AS showImage,
		    summary,
		    top,
		    `name`,
		    label,
		    top_order_no AS topOrderNo,
		    url,
            create_time AS createTime
		FROM 
		    video
		WHERE 1=1
	    <if test="name != null and name != ''">
	        AND `name` LIKE CONCAT ('%',#{name},'%') 
	    </if>
	    <if test="label != null and label != ''">
	        AND label LIKE CONCAT ('%',#{label},'%') 
	    </if>
	    ORDER BY top_order_no ASC
     </select>
    <select id="findVideos" resultType="com.paladin.health.service.videomanage.vo.VideoShowVo">
         SELECT
	        id,
		    show_image AS showImage,
		    summary,
		    url,
		    `name`,
		    label
		FROM
		    video
		WHERE  top = 1
		 ORDER BY top_order_no ASC
    </select>
</mapper>
