<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.videomanage.VideoMapper">
     <select id="findSelfVideo" parameterType="com.paladin.health.service.videomanage.dto.VideoQueryDTO" resultType="com.paladin.health.service.videomanage.vo.VideoVO">
	    SELECT
	        id,
		    show_image AS showImage,
		    summary,
		    `name`,
		    label,
		    status,
		    url,
            publish_time AS publishTime
		FROM 
		    video
		WHERE create_user_id = #{createUser}
	    <if test="name != null and name != ''">
	        AND `name` LIKE CONCAT ('%',#{name},'%') 
	    </if>
	    <if test="label != null and label != ''">
	        AND label LIKE CONCAT ('%',#{label},'%') 
	    </if>    
	    ORDER BY create_time DESC
     </select>
     
    <select id="findPlayVideo" parameterType="com.paladin.health.service.videomanage.dto.VideoQueryDTO" resultType="com.paladin.health.service.videomanage.vo.VideoShowVO">
         SELECT
	        id,
		    show_image AS showImage,
		    summary,
		    url,
		    `name`,
		    label,
		    publish_time AS publishTime
		FROM
		    video
		WHERE status = 9 AND now() > publish_time
		<if test="name != null and name != ''">
	        AND `name` LIKE CONCAT ('%',#{name},'%') 
	    </if>
	    <if test="label != null and label != ''">
	        AND label LIKE CONCAT ('%',#{label},'%') 
	    </if>
		ORDER BY publish_time DESC
    </select>
    
   
    <select id="findTopPlayVideo" resultType="com.paladin.health.service.videomanage.vo.VideoShowVO">
         SELECT
	        id,
		    show_image AS showImage,
		    summary,
		    url,
		    `name`,
		    label,
		    publish_time AS publishTime
		FROM
		    video
		WHERE status = 9 AND now() > publish_time 
		ORDER BY publish_time DESC
		LIMIT 5	
    </select>
    
     <select id="findExamineVideo" parameterType="com.paladin.health.controller.videomanage.VideoExamineQueryVO"  resultType="com.paladin.health.service.videomanage.vo.VideoVO">
	      SELECT
	          id,
	          show_image AS showImage,
	          summary,
	          status,
	          `name`,
	          label,
	          url,
	          publish_time AS publishTime
	      FROM
	          video
	      WHERE
	          `status` = #{status}
	      ORDER BY create_time DESC
   </select>
   
    <update id="updateExamineStatus">
        UPDATE video SET status = #{status}, examine_user_id = #{examinerId} WHERE id = #{id} AND status = 1
    </update>
    
     <update id="offVideo">
        UPDATE video SET status=10 WHERE id = #{id} AND status = 9
    </update>
    
    <update id="upVideo">
        UPDATE video SET status=9 WHERE id = #{id} AND status = 10
    </update>
   
   	<select id="getVideo" resultType="com.paladin.health.service.videomanage.vo.VideoVO">
		SELECT 
			a.id,
	        a.show_image AS showImage,
	        a.summary,
	        a.`name`,
	        a.label,
	        a.url,
			a.examine_user_id AS examineUserId,
			b.name AS examineUserName,
			a.create_user_id AS createUserId,
			c.name AS createUserName,
			a.status,
			a.publish_time AS publishTime
		FROM video a 
		LEFT JOIN org_user b ON a.examine_user_id = b.id
		LEFT JOIN org_user c ON a.create_user_id = c.id
		WHERE a.id=#{id}
	</select>
	<select id="findSearchVideo" resultType="com.paladin.health.service.videomanage.vo.VideoShowVO">
		SELECT
		id,
		show_image AS showImage,
		summary,
		url,
		`name`,
		label,
		publish_time AS publishTime
		FROM
		video
		WHERE status = 9 AND now() > publish_time
		<if test="query.label != null and query.label != ''">
			AND `name` LIKE CONCAT ('%',#{query.label},'%')
			OR label LIKE CONCAT ('%',#{query.label},'%')
		</if>
		ORDER BY publish_time DESC
	</select>
	<select id="findShowVideoPage" resultType="com.paladin.health.service.videomanage.vo.VideoShowVO">
		SELECT
		id,
		show_image AS showImage,
		summary,
		url,
		`name`,
		label,
		publish_time AS publishTime
		FROM
		video
		WHERE status = 9 AND now() > publish_time
		<if test="query.name != null and query.name != '' ">
			AND `name` LIKE CONCAT ('%',#{query.name},'%')
		</if>
		<if test="query.label != null and query.label != ''">
			AND label LIKE CONCAT ('%',#{query.label},'%')
		</if>
		ORDER BY publish_time DESC
	</select>

</mapper>
