<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header"/>

<body class="container">
<section class="content">
    <div class="col-sm-6" style="left: 150px">
        <div class="box box-solid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-weight: bold">
                        冠心病
                    </h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        疾病名称:  冠心病
                    </li>
                    <li class="list-group-item">
                        所属科室:  内科/心内科
                    </li>
                    <li class="list-group-item">
                        疾病概述:  冠状动脉粥样硬化性心脏病是冠状动脉血管发生动脉粥样硬化病变而引起血管腔狭窄或阻塞，造成心肌缺血、缺氧或坏死而导致的心脏病，常常被称为“冠心病”。
                    </li>
                    <li class="list-group-item">
                        疾病分类:  临床上常分为急性冠脉综合征和慢性冠脉病。前者包括不稳定型心绞痛、非ST段抬高性心肌梗死、ST段抬高性心肌梗死。
                        后者包括稳定型心绞痛、冠脉正常的心绞痛、无症状性心肌缺血和缺血性心力衰竭。
                    </li>
                </ul>
            </div>
        </div>
        <div class="box box-solid">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title" >
                        疾病详情
                    </h5>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne">病因</a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                年龄与性别
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            40岁后冠心病发病率升高，女性绝经期前发病率低于男性，绝经期后与男性相等。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                高脂血症
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            除年龄外，脂质代谢紊乱是冠心病最重要预测因素。总胆固醇（TC）和低密度脂蛋白胆固醇（LDLC）水平和冠心病事件的危险性之间存在着密切的关系。LDLC水平每升高1%，则患冠心病的危险性增加2-3%.甘油三脂（TG）是冠心病的独立预测因子，往往伴有低HDLC和糖耐量异常，后两者也是冠心病的危险因素。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                高血压
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            高血压与冠状动脉粥样硬化的形成和发展关系密切。收缩期血压比舒张期血压更能预测冠心病事件。140-149mmhg的收缩期血压比90-94mmhg的舒张期血压更能增加冠心病死亡的危险。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                吸烟
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            吸烟是冠心病的重要危险因素，是唯一最可避免的死亡原因。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                糖尿病
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            冠心病是未成年糖尿病患者首要的死因，冠心病占糖尿病病人所有死亡原因和住院率的近80%。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                肥胖症
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            已明确为冠心病的首要危险因素，可增加冠心病死亡率。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                久坐
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            不爱运动的人冠心病的发生和死亡危险性将翻一倍。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                其他
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            遗传，饮酒，环境因素等。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo">症状</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                典型胸痛
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            突感心前区疼痛，多为发作性绞痛或压榨痛，也可为憋闷感。疼痛从胸骨后或心前区开始，向上放射至左肩、臂，甚至小指和无名指，休息或含服硝酸甘油可缓解。胸痛放散的部位也可涉及颈部、下颌、牙齿、腹部等。胸痛也可出现在安静状态下或夜间，由冠脉痉挛所致，也称变异型心绞痛。如胸痛性质发生变化，如新近出现的进行性胸痛，痛阈逐步下降，以至稍事体力活动或情绪激动甚至休息或熟睡时亦可发作。疼痛逐渐加剧、变频，持续时间延长，祛除诱因或含服硝酸甘油不能缓解，此时往往怀疑不稳定心绞痛。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                不典型表现
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            一部分患者的症状并不典型，仅仅表现为心前区不适、心悸或乏力，或以胃肠道症状为主。某些患者可能没有疼痛，如老年人和糖尿病患者。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                猝死
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            约有1/3的患者首次发作冠心病表现为猝死。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                伴随症状
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            可伴有全身症状，如发热、出汗、惊恐、恶心、呕吐等。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree">风险或并发症</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                心肌梗死
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            是心肌缺血性坏死。为在冠状动脉病变的基础上，发生冠状动脉血供急剧减少或中断，使相应的心肌严重而持久的急性缺血导致心肌坏死。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                心力衰竭
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            是各种心脏结构或功能性疾病导致心室充盈及（或）射血能力受损而引起的一组综合征。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour">专家建议</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            生活方式
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>低脂低盐饮食，适当体育锻炼，控制体重等。</p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    活动前用药
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                起床、洗脸对于安静时也有心绞痛发生的病人，在早晨预先使室内暖和或在床上先服药以防止起床时骤然发作。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    饮食
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                性地使冠状动脉血流相对减少，易诱发心绞痛，故饮食不可过量，注意低盐低脂饮食，饭后亦不要立即工作。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    大小便
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                由于排便时用力可使胸腔内压上升引起静脉回流减少、心率加快和血压上升，从而诱发冠状动脉痉挛的可能性增加，故应特别防止便秘，对经常便秘的病人可考虑使用缓泻剂。为了减少夜间排尿次数，睡前要限制饮水。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    洗澡
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                洗澡时的适宜温度是40℃左右，血压、脉搏无明显改变为宜。洗澡能恢复疲劳，但时间不宜过长，以10分钟为好。用淋浴可减少对循环的急剧刺激。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            饮食建议
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>
                                            戒烟限酒，控制食量，避免饱食，低盐低脂饮食，多食新鲜蔬菜水果。
                                        </p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 避免饱食
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                戒烟限酒，控制食量，规律饮食，避免暴饮暴食。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 低盐低脂饮食
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                多吃新鲜的蔬菜水果，避免辛辣油腻刺激性食物的摄入
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 暴饮暴食
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                饮食要规律，避免暴饮暴食。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 辛辣油腻刺激性食物
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                例如浓茶、葱、韭菜、辣椒等。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            运动建议
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>
                                            适度进行体育锻炼，控制体重。
                                        </p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 坚持适度体育锻炼
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                比如跑步、游泳、羽毛球等。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 久坐
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                避免久坐不动，适度活动。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFive">就医复查指南</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                挂号科室
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            内科/心内科
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                复查时间
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            1-2个月
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                检查项目
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            心电图、心肌酶谱、心脏彩超、血脂、颈动脉彩超等。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/health/footer"/>
<script type="text/javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>