<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header"/>

<body class="container">
<section class="content">
    <div class="col-sm-6" style="left: 150px">
        <div class="box box-solid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-weight: bold">
                        高血压
                    </h2>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        疾病名称:  高血压
                    </li>
                    <li class="list-group-item">
                        所属科室:  内科
                    </li>
                    <li class="list-group-item">
                        疾病概述:  高血压是以体循环动脉压增高为主要表现的临床综合征，是最常见的心血管疾病。原发性高血压的发病因素主要有两大类，一类是内因，如遗传（大约占40%）；另一类是外因，如精神紧张、食盐过多、吸烟、肥胖、酗酒、缺乏运动等。长期高血压可影响到心、脑、肾等器官的功能，最终导致这些器官功能的衰竭。
                    </li>
                    <li class="list-group-item">
                        疾病分类:  原发性高血压、继发性高血压
                    </li>
                </ul>
            </div>
        </div>
        <div class="box box-solid">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title" >
                        疾病详情
                    </h5>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne">病因</a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                习惯因素遗传
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            大约半数高血压患者有家族史。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                营养因素
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            除年龄外，脂质代谢紊乱是冠心病最重要预测因素。总胆固醇（TC）和低密度脂蛋白胆固醇（LDLC）水平和冠心病事件的危险性之间存在着密切的关系。LDLC水平每升高1%，则患冠心病的危险性增加2-3%.甘油三脂（TG）是冠心病的独立预测因子，往往伴有低HDLC和糖耐量异常，后两者也是冠心病的危险因素。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                高血压
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            饮食过咸（钠盐摄入过多）、大量饮酒（特别是烈性酒）、动物脂肪摄入过高，均可使血压升高。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                年龄
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            发病率着随年龄增长而增高的趋势，40岁以上者发病率高。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                吸烟
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            吸烟是冠心病的三大危险因素之一，吸烟可加速动脉粥样硬化，引起血压升高。</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                精神和心理因素
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            长期精神紧张又缺少体力活动者易发生高血压。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                肥胖
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            肥胖者发病率高，服用避孕药及患有睡眠呼吸暂停低通气综合征者会发生高血压。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo">症状</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                早期可能无症状或症状不明显
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            早期可能无症状或症状不明显，仅仅会在劳累、精神紧张、情绪波动后发生血压升高，并在休息后恢复正常。随着病程延长，常见的临床症状有头痛、头晕、注意力不集中、记忆力减退、肢体麻木、夜尿增多、心悸、胸闷、乏力等。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                血压突然升高到一定程度时
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            当血压升高到一定程度时，会出现剧烈头痛、呕吐、心悸、眩晕等症状，严重时会发生神志不清、抽搐。这就属于急进型高血压和高血压危重症，多会在短期内发生严重的心、脑、肾等器官的损害和病变，如中风、心梗、肾衰等。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree">风险或并发症</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                冠心病
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            长期的高血压可促使动脉粥样硬化的形成和发展。冠状动脉粥样硬化会阻塞或使血管腔变狭窄，或因冠状动脉功能性改变而导致心肌缺血缺氧、坏死而引起冠心病。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                脑血管病
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            包含脑出血、脑血栓、脑梗塞、短暂性脑缺血发作。脑血管意外又称中风，其病势凶猛，且致死率极高，即使不致死，大多数也会致残，是急性脑血管病中最凶猛的一种。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                高血压心脏病
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            高血压患者的心脏改变主要是左心室肥厚和扩大，心肌细胞肥大和间质纤维化。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                高血压脑病
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            主要发生在重症高血压患者中,由于过高的血压超过了脑血流的自动调节范围，脑组织因血流灌注过多而引起脑水肿。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                慢性肾功能衰竭
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            高血压对肾脏的损害是一个严重的并发症，其中高血压合并肾功能衰竭约占10%。
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                高血压危象
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            高血压危象在高血压早期和晚期均可发生，紧张、疲劳、寒冷、突然停服降压药等诱因会导致小动脉发生强烈痉挛，导致血压急剧上升。高血压危象发生时，会出现头痛、烦躁、恶心、呕吐、气急以及视物模糊等严重的症状。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFour">专家建议</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            生活方式
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>不要超重，避免精神紧张，多做有益身体的运动，不吸烟。</p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    不要超重
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                人的体重指数（BMI）与血压水平是正相关的，体重指数越大，患高血压病的机率越高，体重指数（BMI）=体重（公斤）除以身高（米）平方，小于24者为正常。BMI≥24 kg/m2者发生高血压的风险是体重正常者的3～4倍。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    避免精神紧张
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                长期精神过度紧张也是高血压发病的危险因素，长期从事高度精神紧张工作的人员高血压患病率增加。因此要主张劳逸结合才是最重要的健康生活方式。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    参加体力活动
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                参加体力活动、不吸烟等积极生活方式。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            饮食建议
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>
                                            饮食治疗要适量控制能量及食盐量，降低脂肪和胆固醇的摄入水平，控制体重，防止或纠正肥胖，利尿排钠，调节血容量，保护心、脑、肾血管系统功能。采用低脂肪低胆固醇、低钠、高维生素、适量蛋白质和能量饮食。
                                        </p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 含钾高的食物
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                多吃含钾高的食物：豌豆苗、莴笋、芹菜、丝瓜等。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 含钙量高的食物
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                钙对高血压的治疗有一定的疗效，每天供给1000mg 左右。多食用含钙多的食物：黄豆、牛奶、花生、鱼虾、红枣、芹菜等。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 补充蛋白质
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                应该选用高生物价的优质蛋白，植物蛋白最好是占一半，动物蛋白选用鱼、鸡、牛肉、鸡蛋白、牛奶等。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 多摄入维生素
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                大剂量的维生素C可使胆固醇转化为胆汁酸排出体外，改善心功能和血液循环，宜多吃新鲜的蔬菜和水果。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 多糖食物
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                应该食用多糖类食物，如淀粉、玉米、小米等，同时还有高膳食纤维，可以促进肠蠕动，加速胆固醇的排出。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 钠盐
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                吃盐越多，高血压病患病率越高。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 高胆固醇食物
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                如动物内脏、蛋黄、乌贼鱼、脑髓等。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 碳水化合物
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                葡萄糖、果糖和蔗糖应该少吃。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            运动建议
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>
                                            坚持有氧运动，不要做大幅度的运动。
                                        </p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 有氧运动及等张运动
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                如步行、慢跑、踏车、游泳、跳舞、太极拳、降压体操、武术等。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 力量训练或等长运动
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                由于在运动过程中存有屏气动作，加重了心血管系统的负荷。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 大幅度的快速动作
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                运动训练不要做过分低头弯腰的动作，也不要做大幅度的快速动作。对于有并发症、失代偿等情况，最好不要作耗氧量大的运动，只适合做一些运动量小、安全性大、特异性强的运动。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading" style="text-align: center">
                                        <h3 class="panel-title">
                                            医疗保健
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="background-color: #fef47a4a">
                                        <p>一些按摩方法可以帮助缓解高血压的症状。</p>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    按摩百会穴可缓解头晕
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                头晕是高血压的典型表现，长期的高血压导致脑供血不足、应用降压药使当血压降得太低都可能导致头晕。按摩百会穴具有开窍醒脑，固阳固脱，升阳举陷的作用，可使高血压患者头晕减轻，让清爽的精神随时相伴。
                                            </p>
                                        </li>
                                        <li class="list-group-item">
                                            <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    决明子帮助高血压患者缓解压力
                                                </font>
                                            </h5>
                                            <p class="list-group-item-text">
                                                决明子具有清热明目、润肠通便之功效，高血压、高血脂症以及习惯性便秘等患者不妨在生活中适当食用。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseFive">就医复查指南</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                挂号科室
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            内科
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                复查时间
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            首次用药1-2天，以后7-15天
                                        </p>
                                    </li>
                                    <li class="list-group-item">
                                        <h5 class="list-group-item-heading">
                                            <font style="color: #9b703f">
                                                检查项目
                                            </font>
                                        </h5>
                                        <p class="list-group-item-text">
                                            血压、血脂、肾功、血常规、尿常规、肾脏及肾上腺超声。
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/health/footer"/>
<script type="text/javascript">
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>