<title>宣教系统</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/static/assets/bootstrap3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/assets/bootstrap-table/bootstrap-table.min.css" />

<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/ionicons.min.css">
<link rel="stylesheet" href="/static/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/css/skins/skin-green-light.min.css">

<link rel="stylesheet" href="/static/assets/layer/theme/default/layer.css" />

<style>
	body{
		background-color: #ecf0f5;
	}
</style>