<title>宣教系统</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/static/assets/bootstrap3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/assets/bootstrap-table/bootstrap-table.min.css" />

<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/ionicons.min.css">
<link rel="stylesheet" href="/static/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/css/skins/skin-green-light.min.css">

<link rel="stylesheet" href="/static/assets/layer/theme/default/layer.css" />
<link rel="stylesheet" href="/static/assets/laydate/theme/default/laydate.css" />

<style>
	body{
		background-color: #ecf0f5;
		font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	    color: #2f2f2f;
	    text-size-adjust: 100%;
	    word-wrap: break-word;
	    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	
	p,dd{
		line-height:1.7
	}
	
</style>