<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="health/header" />

<body class="curtain">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        知识库管理
        <small>肿瘤</small>
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> 主页</a></li>
            <li><a href="#"></i> 知识库管理</a></li>
            <li class="active">肿瘤</li>
        </ol>
    </section>
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Visitors Report</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
        </div>
        <!-- /.box-body -->
    </div>
    <div th:include="health/footer" />
</body>

</html>