<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.publicity.PublicityMaterialGrantCountMapper">

	<select id="publictyAgencyCount"  resultType="com.paladin.health.service.publicity.vo.PublicityMaterialGrantCountVO">
		SELECT
		t1.id,
		COALESCE ( t1.`name`, #{query.agencyName} ,"无" ) AS name,
		COALESCE ( t1.total, 0 ) AS total
		FROM
			(
			SELECT
				a.id,
				`name`,
				pTotal + COALESCE ( sTotal, 0 ) AS total
			FROM
				(
				SELECT
					org.`name`,
					SUM( p.count ) AS pTotal,
					org.id
				FROM
					publicity_material_grant AS p
					LEFT JOIN org_agency AS org ON org.id = p.grantor_agency
				WHERE  grantor_agency IN
				<foreach collection="pIds" open="(" item="id" close=")" separator="," index="index" >
					#{id}
				</foreach>
				<if test="query.agencyName != null and query.agencyName != ''">
					AND org.`name` LIKE CONCAT('%',#{query.agencyName},'%')
				</if>
				<if  test="query.workCycle != null and query.workCycle != ''">
					AND p.work_cycle =#{query.workCycle}
				</if>
				GROUP BY
					p.grantor_agency
				) a
				LEFT JOIN (
				SELECT
					SUM( p.count ) AS sTotal,
					org.id,
					org.parent_id AS pId
				FROM
					publicity_material_grant AS p
					LEFT JOIN org_agency AS org ON org.id = p.grantor_agency
				WHERE  grantor_agency IN
				<foreach collection="childIds" open="(" item="id" close=")" separator="," index="index" >
					#{id}
				</foreach>
				GROUP BY
					p.grantor_agency
				) b ON a.id = b.pId
			) t1
			RIGHT JOIN ( SELECT 0 ) t2 ON 1 = 1
	</select>

	
	<select id="publictyYearCount" resultType="com.paladin.health.service.publicity.vo.PublicityMaterialGrantCountVO">
	
		SELECT p.work_cycle as workCycle,SUM(p.count) as total from publicity_material_grant as p
		LEFT JOIN org_agency as org on org.id = p.grantor_agency where 1=1
		<if test="grantorAgencyId != null">
			AND p.grantor_agency = #{grantorAgencyId}
		</if>
		<if test="query.workCycle != null and query.workCycle != ''">
			AND p.work_cycle =#{query.workCycle}
		</if>
		GROUP BY p.work_cycle ORDER BY P.work_cycle 
	</select>
	<select id="publictyAgencyCountByIds"
			resultType="com.paladin.health.service.publicity.vo.PublicityMaterialGrantCountVO">
		SELECT
		t1.id,
		COALESCE ( t1.`name`, #{query.agencyName}, "无" ) AS name,
		COALESCE ( t1.total, 0 ) AS total
		FROM
		(
		SELECT
		org.id,
		org.`name`,
		SUM( p.count ) AS total
		FROM
		publicity_material_grant AS p
		LEFT JOIN org_agency AS org ON org.id = p.grantor_agency
		WHERE org.is_delete = 0
		<if test="childIds != null and childIds.size() != 0">
			AND grantor_agency IN
			<foreach collection="childIds" open="(" item="id" close=")" separator="," index="index">
				#{id}
			</foreach>
		</if>
		<if test="query.agencyName != null and query.agencyName != ''">
			AND org.`name` LIKE CONCAT('%',#{query.agencyName},'%')
		</if>
		<if test="query.workCycle != null and query.workCycle != ''">
			AND p.work_cycle =#{query.workCycle}
		</if>
		GROUP BY p.grantor_agency
		) t1
		RIGHT JOIN ( SELECT 0 ) t2 ON 1 = 1
	</select>

</mapper>
