<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.publicity.PublicityMessageMapper">
	<update id="updateExamineStatus">
		UPDATE publicity_message SET status = #{status}, examine_user_id = #{examinerId} WHERE id = #{id} AND status = 1
	</update>
	
	<select id="findMessage" parameterType="com.paladin.health.service.publicity.dto.PublicityMessageQueryDTO" resultType="com.paladin.health.service.publicity.vo.PublicityMessageVO">
		SELECT 
			a.id,
			a.type,
			a.title,
			a.subtitle,
			a.summary,
			a.label,
			a.examine_user_id AS examineUserId,
			b.`name` AS examineUserName,
			a.create_user_id AS createUserId,
			c.`name` AS createUserName,
			a.`status`,
			a.publish_time AS publishTime,
			a.publish_target AS publishTarget
		FROM publicity_message a 
		LEFT JOIN org_user b ON a.examine_user_id = b.id
		LEFT JOIN org_user c ON a.create_user_id = c.id
		WHERE a.is_delete = 0
		<if test="statuses!=null">
            AND a.status IN
            <foreach collection="statuses" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="status !=null">
			AND a.status = #{status}
		</if>
		<if test="title !=null and title !='' ">
			AND a.title LIKE CONCAT('%',#{title},'%')
		</if>	
		<if test="type !=null">
			AND a.type = #{type}
		</if>
		<if test="createUserId !=null and createUserId !='' ">
			AND a.create_user_id = #{createUserId}
		</if>	
		<if test="createUserName !=null and createUserName !='' ">
			AND c.name LIKE CONCAT('%',#{createUserName},'%')
		</if>	
		ORDER BY a.create_time
	</select>
	
	<select id="getMessage" resultType="com.paladin.health.service.publicity.vo.PublicityMessageVO">
		SELECT 
			a.id,
			a.type,
			a.title,
			a.subtitle,
			a.summary,
			a.label,
			a.content,
			a.examine_user_id AS examineUserId,
			b.`name` AS examineUserName,
			a.create_user_id AS createUserId,
			c.`name` AS createUserName,
			a.`status`,
			a.publish_time AS publishTime,
			a.publish_target AS publishTarget
		FROM publicity_message a 
		LEFT JOIN org_user b ON a.examine_user_id = b.id
		LEFT JOIN org_user c ON a.create_user_id = c.id
		WHERE a.id=#{id} AND a.is_delete = 0	
	</select>
    <select id="findDisplay" resultType="com.paladin.health.service.publicity.vo.PublicityMessageVO">
      SELECT
			a.id,
			a.type,
			a.title,
			a.subtitle,
			a.summary,
			a.label,
			a.content,
			a.examine_user_id AS examineUserId,
			b.`name` AS examineUserName,
			a.create_user_id AS createUserId,
			c.`name` AS createUserName,
			a.`status`,
			a.publish_time AS publishTime,
			a.publish_target AS publishTarget
		FROM publicity_message a
		LEFT JOIN org_user b ON a.examine_user_id = b.id
		LEFT JOIN org_user c ON a.create_user_id = c.id
		WHERE a.`status` = 9 AND a.is_delete = 0 AND  a.type IN  (1,2)
		ORDER BY publish_time ASC
		LIMIT 8;
    </select>

</mapper>
