<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="xk-disease-type,xk-evaluate-type,xk-index-type,sex-type" />
    <section class="content-header">
        <h1>健康处方历史</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-md-1 control-label">姓名：</label>
                        <div class="col-md-2">
                            <input name="name" class="form-control" placeholder="请输入姓名" th:value="${query?.name}" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">结果</h3>
            </div>
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <!--<div id="toolbar">
                <div class="btn-group">
                    <a onclick="add()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>新增</a>
                </div>
            </div>-->
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "姓名", align: "center", width: "10%", field: "name" },
                    { title: "身份证号码", align: "center", width: "15%", field: "id" },
                    { title: "性别", align: "center", width: "5%", field: "sex", enumcode: "sex-type" },
                    { title: "手机号码", align: "center", width: "10%", field: "cellphone" },
                    { title: "出生日期", align: "center", width: "10%", field: "birthday", formatter: "date" },
                    { title: "危险因数", field: "factors", width: "40%", formatter: operateFormatter },
                    {
                        title: "操作",
                        align: "center",
                        width: "10%",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return [
                                '<button class="detail btn btn-xs btn-info" style="margin-right:10px">',
                                '<i class="glyphicon glyphicon-edit"></i>详情',
                                '</button>'
                            ].join('');                            
                        }
                    }
                ]
            ],
            url: '/health/diagnose/target/search',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function detail(row) {
		window.location = '/health/diagnose/record/index?targetId=' + row.id + '&targetName=' + row.name;
    }

    function operateFormatter(value, row, index) {
        if (value) {
            var html = "";
            let strs = value.split(",");
            let factorstrs = strs.sort(factorsSort);
            var disease = [],
                risk5 = [],
                risk4 = [],
                risk3 = [];

            factorstrs.forEach(function(factorstr, index) {
                let factors = factorstr.split("-");
                let factorCode = factors[0];
                let factorType = factors[1];
                let factorLevel = factors[2] * 1;

                if (factorType == '1' || factorType == '2') {
                    disease.push(getFactorCodeValue(factorCode, factorType));
                } else {
                    if (factorLevel == 3) {
                        risk3.push(getFactorCodeValue(factorCode, factorType));
                    } else if (factorLevel == 4) {
                        risk4.push(getFactorCodeValue(factorCode, factorType));
                    } else if (factorLevel == 5) {
                        risk5.push(getFactorCodeValue(factorCode, factorType));
                    }
                }

                // let factorCodeValue = getFactorCodeValue(factorCode,factorType);
                // let factorLevelColor = getFactorLevelColor(factorLevel,factorType);
                // let factorLevelIcon = getFactorLevelIcon(factorLevel,factorType);
                // html += '<span class="label  '+factorLevelColor+'" style="margin-right:10px"><i class="'+factorLevelIcon+'"></i>&nbsp;'+factorCodeValue+'</span>';
                // if ((index + 1) % 3 === 0) {
                //     html += '<br>'
                // }
            });

            html += '<dl class="dl-horizontal">';
            var has = false;
            if (disease.length > 0) {
                html += parseHtml(disease, "疾病·症状", 'label-danger');
                has = true;
            }

            if (risk5.length > 0) {
                html += parseHtml(risk5, "极高风险", 'label-danger');
                has = true;
            }

            if (risk4.length > 0) {
                html += parseHtml(risk4, "高风险", 'label-danger');
                has = true;
            }

            if (risk3.length > 0) {
                html += parseHtml(risk3, "中风险", 'label-warning');
                has = true;
            }

            html += '</dl>';

            if (!has) {
                return '<span class="label label-default"  ><i class="fa fa-info-circle"></i>&nbsp;暂无危险因素</span>';
            }
            return html
        } else {
            return '<span class="label label-default"  ><i class="fa fa-info-circle"></i>&nbsp;暂无危险因素</span>';
        }
    }

    function parseHtml(arr, name, style) {
        var html = "";
        arr.forEach(function(a) {
            html += (a.endsWith('风险评估') ? a.substring(0, a.length - 4) : a) + ' | '; //'<span class="label ' + style + '">' + a + '</span>';
        });
        return '<dt>' + name + '：</dt><dd style="text-align:left">' + html + '</dd>';
    }


    function getFactorCodeValue(factorCode, factorType) {
        var factorValue;
        if (factorType == "1") {
            factorValue = $.getConstantEnumValue("xk-disease-type", factorCode);
        } else if (factorType == "2") {
            factorValue = $.getConstantEnumValue("xk-index-type", factorCode);
        } else {
            factorValue = $.getConstantEnumValue("xk-evaluate-type", factorCode);
        }

        return factorValue;
    }

    function getFactorLevelIcon(factorLevel, factorType) {
        var icon = '';
        if (factorType == "1") {
            icon = 'fa fa-exclamation-triangle';
        } else if (factorType == "2") {
            icon = 'fa fa-exclamation-circle';
        } else {
            if (factorLevel == "1" || factorLevel == "2") {
                icon = 'fa fa-bell-o';
            } else if (factorLevel == "3" || factorLevel == "4") {
                icon = 'fa fa-exclamation-circle';
            } else {
                icon = 'fa fa-exclamation-triangle';
            }
        }

        return icon;
    }


    function getFactorLevelColor(factorLevel, factorType) {
        var color = '';
        if (factorType == "1") {
            color = 'bg-purple';
        } else if (factorType == "2") {
            color = 'bg-aqua';
        } else {
            if (factorLevel == "1" || factorLevel == "2") {
                color = 'bg-teal';
            } else if (factorLevel == "3" || factorLevel == "4") {
                color = 'label-warning';
            } else {
                color = 'label-danger';
            }
        }

        return color;
    }

    function factorsSort(prevFactorStr, nextFactorStr) {
        let prev = prevFactorStr.split("-");
        let next = nextFactorStr.split("-");
        let prevFactorLevel = prev[2].toString();
        let nextFactorLevel = next[2].toString();
        let prevFactorType = prev[1].toString();
        let nextFactorType = next[1].toString();
        if (nextFactorType == prevFactorType) {
            return nextFactorLevel - prevFactorLevel;
        } else {
            return prevFactorType - nextFactorType;
        }

    }

    /*]]>*/
    </script>
</body>

</html>