<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <section class="content-header">
        <h1>健康处方历史</h1>
        <ol class="breadcrumb">
            <li><a href="/health/diagnose/target/index"><i class="fa fa-list-alt"></i>病人列表</a></li>
            <li class="active" th:text="${targetName}"></li>
        </ol>
    </section>
    <input type="hidden" id="targetId" th:value="${targetId}" />
    <input type="hidden" id="targetName" th:value="${targetName}" />
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">历史记录</h3>
            </div>
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "时间", field: "createTime", formatter: "datetime", sortable: true },
                    {
                        title: "操作",
                        align: "center",
                        width: "10%",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return [
                                '<button class="detail btn btn-xs btn-info" style="margin-right:10px">',
                                '<i class="glyphicon glyphicon-edit"></i>详情',
                                '</button>'
                            ].join('');
                        }
                    }
                ]
            ],
            url: '/health/diagnose/record/search?targetId=' + $("#targetId").val(),
            searchbar: '#searchbar',
            showColumns: true,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function detail(row) {
        let targetName = $("#targetName").val();
        let datetimeStr = datetimeFormat(row.createTime);
        window.location = '/health/diagnose/record/detail?recordId=' + row.id + '&targetName=' + targetName + "&targetId=" + $("#targetId").val() + "&time=" + datetimeStr;
    }


    function showDetail(data) {

        var html = "<div style='margin:40px;margin-right:55px'><pre><code>" + data.targetCondition + "</code></pre>" +
            "<pre><code>" + data.prescription + "</code></pre></div>";

        $.openPageLayer(html);
    }
    /*]]>*/
    </script>
</body>

</html>