<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />
<style>
    .tab-content>.tab-pane, .pill-content>.pill-pane {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.tab-content>.active, .pill-content>.active {
    height: auto;
}
</style>

<body class="container">
    <input type="hidden" id="recordId" th:value="${recordId}" />
    <input type="hidden" id="targetName" th:value="${targetName}" />
    <input type="hidden" id="targetId" th:value="${targetId}" />
    <tt:constant enumcode="boolean,sex-type,family-hypertension-type,xk-disease-type,xk-index-type" />
    <section class="content-header">
        <h1>健康处方历史</h1>
        <ol class="breadcrumb no-margin">
            <li><a href="/health/diagnose/target/index"><i class="fa fa-list-alt"></i>病人列表</a></li>
            <li><a class="text-muted"  th:href="@{/health/diagnose/record/index(targetId=${targetId},targetName=${#strings.substring(targetName,0,2)})}"  th:text="${targetName}"></a></li>
            <li class="active" th:text="${time}"></li>
        </ol>
    </section>
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1" data-toggle="tab" aria-expanded="true">诊断信息</a>
                </li>
                <li>
                    <a href="#tab_2" data-toggle="tab" aria-expanded="true">原始处方</a>
                </li>
                <li>
                    <a href="#tab_3" data-toggle="tab" aria-expanded="true">确认处方</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <section class="content">
                        <div id="base"></div>
                        <!--<div id="disease"></div>-->
                        <div id="evaluate"></div>
                    </section>
                </div>
                <div class="tab-pane" id="tab_2">
                    <section class="content">
                        <div id="info"></div>
                    </section>
                </div>
                <div class="tab-pane" id="tab_3">
                    <section class="content">
                        <div id="info2"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var base_options = {
        id: "base",
        name: "基本信息",
        columns: [
            { name: "name", title: "姓名", inputType: "TEXT" },
            { name: "identificationId", title: "身份证号码", inputType: "TEXT" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "cellphone", title: "手机号码", inputType: "TEXT" },
            { name: "birthday", title: "出生日期", inputType: "DATE" },
            { name: "sendMessage", title: "是否发送短信", inputType: "RADIO", enum: "boolean" },
            { name: "senderName", title: "发短信者姓名", inputType: "TEXT" }
        ]
    }

    var disease_options = {
        id: "disease",
        name: "疾病指标信息",
        columns: [
            { name: "disease", title: "疾病", inputType: "CHECKBOX", enum: "xk-disease-type", colspan: 2 },
            { name: "index", title: "指标", inputType: "CHECKBOX", enum: "xk-index-type", colspan: 2 }
        ]
    }

    var evaluate_options = {
        id: "evaluate",
        name: "评估信息",
        columns: [
            { name: "age", title: "年龄", inputType: "NUMBER", unit: "岁" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "height", title: "身高", inputType: "NUMBER", unit: "CM" },
            { name: "weight", title: "体重", inputType: "NUMBER", unit: "KG" },
            { name: "dbp", title: "低压（舒张压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "sbp", title: "高压（收缩压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "pbg", title: "餐后血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "fbc", title: "空腹血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "smoke", title: "是否吸烟", inputType: "RADIO", enum: "boolean" },
            { name: "drinking", title: "是否饮酒", inputType: "RADIO", enum: "boolean" },
            { name: "waistline", title: "腰围", inputType: "NUMBER", unit: "CM" },
            { name: "tc_mmol", title: "空腹血清总胆固醇", inputType: "NUMBER", unit: "mmol/L" },
            { name: "idl", title: "低密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hdl", title: "高密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hyperglycemia", title: "是否高血糖", inputType: "RADIO", enum: "boolean" },
            { name: "diabetes", title: "是否患糖尿病", inputType: "RADIO", enum: "boolean" },
            { name: "family_diabetes", title: "是否有糖尿病家族史", inputType: "RADIO", enum: "boolean" },
            { name: "strokeOrTia", title: "是否发作过中风或脑缺血", inputType: "RADIO", enum: "boolean" },
            { name: "family_cvd", title: "CVD家族史", inputType: "RADIO", enum: "boolean" },
            { name: "sports", title: "每天是否锻炼30分钟以上", inputType: "RADIO", enum: "boolean" },
            { name: "vegOrFruits", title: "每天是否吃水果或蔬菜", inputType: "RADIO", enum: "boolean" },
            { name: "dyazide", title: "是否服用降压药", inputType: "RADIO", enum: "boolean" },
            { name: "hormone", title: "是否连续6个月以上服用激素类药品", inputType: "RADIO", enum: "boolean" },
            { name: "menopause", title: "45岁前是否绝经", inputType: "RADIO", enum: "boolean" },
            { name: "diarrhea", title: "腹泻、腹痛或大便习惯", inputType: "RADIO", enum: "boolean" },
            { name: "rarelyBask", title: "不经常晒太阳", inputType: "RADIO", enum: "boolean" },
            { name: "rarelysports", title: "不经常参加运动锻炼", inputType: "RADIO", enum: "boolean" },
            { name: "family_osteoporosis", title: "是否有质疏松家族史", inputType: "RADIO", enum: "boolean" },
            { name: "family_hypertension", title: "是否有高血压家族史", inputType: "RADIO", enum: "family-hypertension-type", colspan: 2 }
        ]
    }

    var submitData, evaluateModel, baseModel, diseaseModel;
    var baseData = {},
        evaluateData, diseaseData = {};
    $(function() {
        $.getAjax('/health/diagnose/record/get?id=' + $("#recordId").val(), function(data) {
            let conditionDataStr = data.targetCondition;
            let prescriptionDataStr = data.prescription;
            let correctPrescriptionStr = data.correctPrescription
            let conditionData = JSON.parse(conditionDataStr);
            let prescriptionData = JSON.parse(prescriptionDataStr);
            let correctPrescription = correctPrescriptionStr ? JSON.parse(correctPrescriptionStr) : null;

            $.each(conditionData, function(col, value) {
                if (col === "diseases") {
                    if (value && value.length > 0) {
                        $.each(value, function(index, item) {
                            let constantKey = getConstantKey(item);
                            if (diseaseData.hasOwnProperty(constantKey)) {
                                let diseaseDatum = diseaseData[constantKey];
                                diseaseData[constantKey] = diseaseDatum + "," + item;
                            } else {
                                diseaseData[constantKey] = item;
                            }
                        })
                    }
                } else if (col === "condition") {
                    evaluateData = value;
                } else {
                    baseData[col] = value;
                }
            });
            $("#base").html(generateViewHtml(base_options));
            baseModel = new tonto.Model("base", base_options.columns, {
                pattern: "view"
            });
            baseModel.setData(baseData);
            $("#disease").html(generateViewHtml(disease_options));
            diseaseModel = new tonto.Model("disease", disease_options.columns, {
                pattern: "view"
            });
            diseaseModel.setData(diseaseData);
            $("#evaluate").html(generateViewHtml(evaluate_options));
            evaluateModel = new tonto.Model("evaluate", evaluate_options.columns, {
                pattern: "view"
            });
            evaluateModel.setData(evaluateData);
            $.initComponment($(".content"));

            var html = createEvaluateHtml(prescriptionData);
            var html2 = correctPrescription ? createEvaluateHtml(correctPrescription) : '';
            $("#info").html(html);
            $("#info2").html(html2);
        });
    });

    function getConstantKey(code) {
        let enumcodes = ["xk-index-type", "xk-disease-type"];
        let result = false;
        let key = "";
        enumcodes.some(function(enumcode) {
            let constantEnum = $.getConstantEnum(enumcode);
            if ($.isArray(constantEnum)) {
                result = constantEnum.some(function(item) {
                    return item.key === code;
                })
            }
            if (result) key = enumcode.substring(enumcode.indexOf("-") + 1, enumcode.lastIndexOf("-"));
            return key.length > 0;
        });
        return key;
    }

    function createEvaluateHtml(data) {
        var html = "";

        data.forEach(function(item) {
            html += createEvaluateItemHtml(item);
        });

        return "<div>" + html + "</div>";
    }

    function createEvaluateItemHtml(data) {

        var level = data.riskLevel;
        if (level <= 2) {
            color = 'success';
        } else if (level <= 3) {
            color = 'warning';
        } else {
            color = 'danger';
        }

        return '<dl class="dl-horizontal" style="padding-bottom:20px;">' +
            '    <dt>评估名称：</dt>' +
            '    <dd>' + data.name + '</dd>' +
            '    <dt>风险等级：</dt>' +
            '    <dd><span class="label label-' + color + '">' + data.riskLevelName + '</span></dd>' +
            '    <dt>分析建议：</dt>' +
            parseEvaluateContent(data) +
            '</dl>';
    }

    function parseEvaluateContent(data) {
        var content = data.suggest;
        if(!content) return ''; 

        if (data.code == 'hypertension' || data.code == 'osteoporosis') {
            content = content.replace(/(2\. *运动：|3\. *吸烟：|4\. *饮酒：|5\. *心理：)/g, "@#$1");
        }

        var arr = content.split('@#');
        var ps = [];

        for (var i = 0; i < arr.length; i++) {
            var a = arr[i];
            a = $.trim(a);
            if (a && a.length > 0 && a !== '3.吸烟：') {
                ps.push(a);
            }
        }

        var s = "<pre style='margin:0px;margin-top:13px;'>";
        for (var i = 0; i < ps.length; i++) {
            s += "\t" + ps[i] + "\n";
        }
        s += "</pre>";
        return s;
    }
    </script>
</body>

</html>