<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />
<style>
    .tab-content>.tab-pane, .pill-content>.pill-pane {
	display: block;
	height: 0;
	overflow-y: hidden;
}

.tab-content>.active, .pill-content>.active {
	height: auto;
}
</style>
<body class="container">
    <input type="hidden" id="recordId" th:value="${recordId}"/>
    <input type="hidden" id="targetName" th:value="${targetName}"/>
    <input type="hidden" id="targetId" th:value="${targetId}"/>
    <tt:constant enumcode="boolean,sex-type,family-hypertension-type,xk-disease-type,xk-index-type" />
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1" data-toggle="tab" aria-expanded="true">诊断信息</a>
                </li>
                <li>
                    <a href="#tab_2" data-toggle="tab" aria-expanded="true">处方结果</a>
                </li>
                <li class="pull-right">
                    <ol class="breadcrumb no-margin">
                        <li><a class="text-muted"  th:href="@{/health/diagnose/record/index(targetId=${targetId},targetName=${#strings.substring(targetName,0,2)})}"  href="/health/diagnose/record/index"><i class="fa fa-list-alt"></i>&nbsp;诊断列表</a></li>
                        <li class="active" th:text="${targetName}"></li>
                    </ol>
                </li>
            </ul>
            <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <section class="content">
                            <div id="base"></div>
                            <div id="disease"></div>
                            <div id="evaluate"></div>
                        </section>

                    </div>
                    <div class="tab-pane" id="tab_2">
                        <section class="content">
                            <div id="info"></div>
                        </section>
                    </div>
            </div>
        </div>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var base_options = {
        id: "base",
        name: "基本信息",
        columns: [
            { name: "name", title: "姓名", inputType: "TEXT" },
            { name: "identificationId", title: "身份证号码", inputType: "TEXT" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "cellphone", title: "手机号码", inputType: "TEXT" },
            { name: "birthday", title: "出生日期", inputType: "DATE" },
            { name: "sendMessage", title: "是否发送短信", inputType: "RADIO", enum: "boolean" },
            { name: "senderName", title: "发短信者姓名", inputType: "TEXT" }
        ]
    }

    var disease_options = {
        id: "disease",
        name: "疾病指标信息",
        columns: [
            { name: "disease", title: "疾病", inputType: "CHECKBOX", enum: "xk-disease-type", colspan: 2 },
            { name: "index", title: "指标", inputType: "CHECKBOX", enum: "xk-index-type", colspan: 2 }
        ]
    }

    var evaluate_options = {
        id: "evaluate",
        name: "评估信息",
        columns: [
            { name: "age", title: "年龄", inputType: "NUMBER", unit: "岁" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "height", title: "身高", inputType: "NUMBER", unit: "CM" },
            { name: "weight", title: "体重", inputType: "NUMBER", unit: "KG" },
            { name: "dbp", title: "低压（舒张压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "sbp", title: "高压（收缩压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "pbg", title: "餐后血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "fbc", title: "空腹血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "smoke", title: "是否吸烟", inputType: "RADIO", enum: "boolean" },
            { name: "drinking", title: "是否饮酒", inputType: "RADIO", enum: "boolean" },
            { name: "waistline", title: "腰围", inputType: "NUMBER", unit: "CM" },
            { name: "tc_mmol", title: "空腹血清总胆固醇", inputType: "NUMBER", unit: "mmol/L" },
            { name: "idl", title: "低密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hdl", title: "高密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hyperglycemia", title: "是否高血糖", inputType: "RADIO", enum: "boolean" },
            { name: "diabetes", title: "是否患糖尿病", inputType: "RADIO", enum: "boolean" },
            { name: "family_diabetes", title: "是否有糖尿病家族史", inputType: "RADIO", enum: "boolean" },
            { name: "strokeOrTia", title: "是否发作过中风或脑缺血", inputType: "RADIO", enum: "boolean" },
            { name: "family_cvd", title: "CVD家族史", inputType: "RADIO", enum: "boolean" },
            { name: "sports", title: "每天是否锻炼30分钟以上", inputType: "RADIO", enum: "boolean" },
            { name: "vegOrFruits", title: "每天是否吃水果或蔬菜", inputType: "RADIO", enum: "boolean" },
            { name: "dyazide", title: "是否服用降压药", inputType: "RADIO", enum: "boolean" },
            { name: "hormone", title: "是否连续6个月以上服用激素类药品", inputType: "RADIO", enum: "boolean" },
            { name: "menopause", title: "45岁前是否绝经", inputType: "RADIO", enum: "boolean" },
            { name: "diarrhea", title: "腹泻、腹痛或大便习惯", inputType: "RADIO", enum: "boolean" },
            { name: "rarelyBask", title: "不经常晒太阳", inputType: "RADIO", enum: "boolean" },
            { name: "rarelysports", title: "不经常参加运动锻炼", inputType: "RADIO", enum: "boolean" },
            { name: "family_osteoporosis", title: "是否有质疏松家族史", inputType: "RADIO", enum: "boolean" },
            { name: "family_hypertension", title: "是否有高血压家族史", inputType: "RADIO", enum: "family-hypertension-type", colspan: 2 }
        ]
    }

    var submitData, evaluateModel, baseModel, diseaseModel;
    var baseData = {},evaluateData,diseaseData={};
    $(function() {
        $.getAjax('/health/diagnose/record/get?id='+ $("#recordId").val(),function (data) {
            let conditionDataStr = data.targetCondition;
            let prescriptionDataStr = data.prescription;
            let  conditionData =  JSON.parse(conditionDataStr);
            let  prescriptionData =  JSON.parse(prescriptionDataStr);
            $.each(conditionData, function (col, value) {
                if (col === "diseases") {
                    if (value && value.length > 0) {
                        $.each(value, function (index, item) {
                            let constantKey = getConstantKey(item);
                            if (diseaseData.hasOwnProperty(constantKey)) {
                                let diseaseDatum = diseaseData[constantKey];
                                diseaseData[constantKey] = diseaseDatum + "," + item;
                            } else {
                                diseaseData[constantKey] = item;
                            }
                        })
                    }
                } else if (col === "condition") {
                    evaluateData = value;
                } else {
                    baseData[col] = value;
                }
            });
            $("#base").html(generateViewHtml(base_options));
            baseModel = new tonto.Model("base", base_options.columns,{
                pattern: "view"
            });
            baseModel.setData(baseData);
            $("#disease").html(generateViewHtml(disease_options));
            diseaseModel = new tonto.Model("disease", disease_options.columns,{
                pattern: "view"
            });
            diseaseModel.setData(diseaseData);
            $("#evaluate").html(generateViewHtml(evaluate_options));
            evaluateModel = new tonto.Model("evaluate", evaluate_options.columns,{
                pattern: "view"
            });
            evaluateModel.setData(evaluateData);
            $.initComponment($(".content"));
            var html = createEvaluateHtml(prescriptionData.evaluation) ;
            html = "<div class='no-pad-top' style='padding-right: 50px'>" + html + "</div>";
            $("#info").html(html)
        });
    });

    function getConstantKey(code) {
        let enumcodes = ["xk-index-type", "xk-disease-type"];
        let result = false;
        let key = "";
        enumcodes.some(function (enumcode) {
            let constantEnum = $.getConstantEnum(enumcode);
            if ($.isArray(constantEnum)) {
                result = constantEnum.some(function (item) {
                    return item.key === code;
                })
            }
            if (result) key = enumcode.substring(enumcode.indexOf("-") + 1, enumcode.lastIndexOf("-"));
            return key.length > 0;
        });
        return key;
    }

  /*  function diagnose() {
        var request = jQuery.extend({}, baseModel.data);
        request.condition = evaluateModel.data;
        var d = diseaseModel.data;
        var ds = d && d.disease || [];
        var is = d && d.index || [];
        request.diseases = ds.concat(is);

        $.postJsonAjax("/xk/diagnose", request, function(data) {
            console.log(data);
            var html = createEvaluateHtml(data.evaluation) + createKnowledgeHtml(data.knowledge);
            html = "<div style='padding:40px;padding-right:55px'>" + html + "</div>";
            $.openPageLayer(html);

        }, $("#diagnoseBtn"))
    }*/

    function createEvaluateHtml(data) {
        var html = "";

        data.forEach(function(item) {
            html += createEvaluateItemHtml(item);
        });

        return "<fieldset><legend>风险评估</legend><div>" + html + "</div></fieldset>";
    }

    function createEvaluateItemHtml(data) {

        var level = data.riskLevel;
        if (level <= 2) {
            color = 'success';
        } else if (level <= 3) {
            color = 'warning';
        } else {
            color = 'danger';
        }

        return '<dl class="dl-horizontal" style="padding-bottom:20px;">' +
            '    <dt>评估名称：</dt>' +
            '    <dd>' + data.name + '</dd>' +
            '    <dt>风险等级：</dt>' +
            '    <dd><span class="label label-' + color + '">' + data.riskLevelName + '</span></dd>' +
            '    <dt>分析建议：</dt>' +
            parseEvaluateContent(data.suggest) +
            '</dl>';
    }

    function parseEvaluateContent(content) {
        var arr = content.split('@#');

        var s = "";
        arr.forEach(function(a) {
            s += "<dd>&nbsp;&nbsp;" + a + "</dd>";
        });

        return s;
    }
    
    
    var count=0;
    function createKnowledgeHtml(data) {
        var html = "";

        data.forEach(function(item) {
            html += createKnowledgeItemHtml(item);
            count++;
        });

        return "<fieldset><legend>体检百科</legend><div>" + html + "</div></fieldset>";
    }

    function createKnowledgeItemHtml(result) {
        		var data=result.knowledge;
        		var type=result.type;
        		if (!data) {
        	        return '';
        	    }
        	    var html = "";
        	    if(type=='index'){
        	    	  html += '<dl class="dl-horizontal" style="padding-bottom:20px;border-bottom: 1px solid #eee">'
        	    		    +'<dt>指标名称：</dt><dd id="dn">'+data[0].dn+'</dd>'
        	    		    +'<dt>所在科室：</dt><dd id="ad">'+data[0].ad+'</dd>'
        	    		    +'<dt>检查目的：</dt><dd id="dm">'+data[0].dm+'</dd>'
        	    		    +'<dt>判定标准：</dt><dd id="dc">'+data[0].dc+'</dd>'
        	    		    +'</dl>'
        	    		    +'<ul class="nav nav-tabs">'
        	    		    +'<li class=""><a href="#tab0'+count+'"data-toggle="tab" aria-expanded="true">'+data[0].cr+'</a></li>'
        	    		    +'<li class=""><a href="#tab1'+count+'"data-toggle="tab" aria-expanded="false">'+data[1].cr+'</a></li>'
        	                +'</ul>'
        	    }else{
        	    html += '<dl class="dl-horizontal" style="padding-bottom:20px;border-bottom: 1px solid #eee">'
        	    +'<dt>疾病名称：</dt><dd id="dn">'+data[0].dn+'</dd>'
        	    +'<dt>所在科室：</dt><dd id="ad">'+data[0].ad +'</dd>'
        	    +'<dt>疾病概述：</dt><dd id="dm">'+data[0].dm+'</dd>'
        	    +'<dt>疾病分类：</dt><dd id="dc">'+data[0].dc+'</dd>'
        	    +'</dl>';
        	   /* +'<dt class="dl-horizontal">疾病详情</dt>';*/
        	    }
        	    var htmlNode=''; 
        	    for(var i in data){
        	    	htmlNode += '<div class="tab-pane '+(i==0?'active':'')+'" id="tab'+i+count+'">';
        	    	htmlNode += parseKnowledgeContent((type=='index'?'可能原因':'病因'), data[i].dd_c);
        	    	htmlNode += parseKnowledgeContent('症状', data[i].dd_s);
        	    	htmlNode += parseKnowledgeContent((type=='index'?'可能存在的风险或疾病':'风险或并发症'), data[i].dd_r);
        	    	htmlNode += parseKnowledgeContent('生活方式', data[i].dd_l);
        	    	htmlNode += parseKnowledgeContent('饮食建议', data[i].dd_d);
        	    	htmlNode += parseKnowledgeContent('饮食宜吃', data[i].dd_d_s);
        	    	htmlNode += parseKnowledgeContent('饮食忌吃', data[i].dd_d_a);
        	    	htmlNode += parseKnowledgeContent('运动建议', data[i].dd_sa);
        	    	htmlNode += parseKnowledgeContent('运动宜做', data[i].dd_sa_s);
        	    	htmlNode += parseKnowledgeContent('运动忌做', data[i].dd_sa_a);
        	    	htmlNode += parseKnowledgeContent('医疗保健', data[i].dd_m);
        	    	htmlNode += parseKnowledgeContent('就医复查指南', data[i].dd_g);
        	    	htmlNode += parseKnowledgeContent('生活常识', data[i].dd_n);
        	    	htmlNode+='</div>';
        	    	
        	    }
        	    return html+'<div class="tab-content">'+htmlNode+'</div>';
        	}

    function parseKnowledgeContent(name, data) {
        var html = "";

        if (data) {
            data = data.split("@#");
            data.forEach(function(it) {

                var ii = it.split("#@"),
                    h = "";
                if (ii.length == 1) {
                    h = ii[0];
                } else {
                    var b = true;
                    for (var i = 0; i < ii.length;) {
                        if (b) {
                            if (i < ii.length - 1) {
                                var m = ii[i],
                                    n = ii[++i];
                                if (m == '综述') {
                                    h += "<b style='color:red'>" + m + "：</b><span style='color:#aaa'>" + n + "</span>";
                                }
                                else {
                                    h += "<b>" + m + "：</b>" + n;
                                }
                            } else {
                                var k = ii[++i];
                                if (k)
                                    h += k;
                            }
                        }
                    }
                }

                html += h + "<br>";
            });
        } else {
            html = "无";
        }

        return '<dt>' + name + '：</dt><dd>' + html + '</dd>';
    }

    function parseOverview(data) {

    }
    </script>
</body>

</html>