<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/hf/header">
</head>

<body>
    <tt:constant enumcode="cycle-state,assess-type" />
    <section class="content-header">
        <h1>考评周期管理</h1>
        <ol class="breadcrumb">
            <li><a href="/assess/cycle/index"><i class="fa fa-list-alt"></i>周期列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-list"></i>
                <h3 class="box-title">新增</h3>
                <div class="box-tools pull-right">
                    <a class="btn" id="model_edit_btn" href="javascript:void(0)"><i class="fa fa-edit"></i>编辑</a>
                </div>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-cog"></i>
                <h3 class="box-title">模板配置</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="templateName" class="col-sm-3 control-label">模板名称：</label>
                        <div class="col-sm-3">
                            <p name="templateName" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">科室选择：</label>
                        <div class="col-sm-3" id="unitTree">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/hf/footer"></div>
</body>
<script type="text/javascript">
/*<![CDATA[*/
var options = {
    id: "model",
    name: "详情",
    url: "/assess/cycle/save",
    columns: [
        { title: "单位", name: "unitId", inputType: "UNIT", viewName: "unitName" },
        { title: "周期名称", name: "cycleName", inputType: "TEXT" },
        { title: "周期描述", name: "cycleDescribe", inputType: "TEXTAREA" },
        { title: "考评类型", name: "assessType", inputType: "SELECT", enum: "assess-type" },
        { title: "周期起止时间", name: "cycleStartTime", inputType: "DATE" },
        { title: "至", name: "cycleEndTime", inputType: "DATE" },
        { title: "考评起止时间", name: "assessStartTime", inputType: "DATE" },
        { title: "至", name: "assessEndTime", inputType: "DATE" }
    ]
}

var id, model;
$(function() {
    id = $("#id").val();
    model = new tonto.Model("model", options.columns);
});
/*]]>*/
</script>

</html>