<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/open/health/message/center/topVideo" class="navbar-brand"><b>健康</b>宣教</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/open/health/message/center/video/index">视频</a></li>
                    <li><a href="/open/health/message/center/message/index">文章</a></li>
                    <li><a href="/xk/symptom/index">百科</a></li>
                </ul>
                <div class="input-group input-group-sm" style="width: 250px;top: 10px;">
                    <input type="text" name="label" id="label"  class="form-control pull-right" placeholder="请输入要查询文章的关键字">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"  onclick="openTopSearch()"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="/open/health/message/center/topVideo" alt="主页"><i class="glyphicon glyphicon-home"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<script type="text/javascript">
    function openTopSearch() {
        let label = $("#label").val();
        if (label) {
            window.location = "/open/health/message/center/messageAndVideo/search/index?label="+label;
        }
    }

</script>