<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="health/header" />
<body id="mainBody">
	<a  id="goTopBtn" class="btn btn-app" href="#mainBody" style="position:fixed;bottom:170px;right:50px;z-index:999999"><i class="glyphicon glyphicon-arrow-up"></i></a>
	<a  id="goBottomBtn" class="btn btn-app" href="#bottomDiv" style="position:fixed;bottom:100px;right:50px;z-index:999999"><i class="glyphicon glyphicon-arrow-down"></i></a>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">健康处方</h3>
            </div>
            <div id="prescriptionDiv" class="box-body">
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">健康处方附录</h3>
            </div>
            <div id="appendixDiv" class="box-body">
                
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询健康处方</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal" id="tableForm">
                    <table id="datagrid" class="table table-bordered"></table>
                </form>
                <div class="col-md-12" style="margin-top:20px">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary" onclick="findPrescription()">查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="clearInput()">重置</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="bottomDiv"></div>
    <div th:include="health/footer" />
    <script type="text/javascript" src="/static/js/health/open/open_prescription.js"></script>
</body>

</html>