<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>宣教系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="/static/assets/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/css/skins/skin-green-light.min.css">
</head>

<body class="layout-top-nav skin-green-light">
    <div class="wrapper">
        <div th:include="/health/open/open_top" />
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <input type="hidden" id="url" th:value="${video.url}">
                    <input type="hidden" id="id" th:value="${video.id}">
                    <input type="hidden" id="showImageUrl" th:value="${video.showImageFile.pelativePath}">
                    <div class="box box-solid">
                        <div class="box-body" id="videoBody" style="text-align: center;">
                            <h3 th:text="${video.name}"></h3>
                            <h5 th:text="|发布时间:  ${#dates.format(video.publishTime,'yyyy-MM-dd')}|"></h5>
                            <div id="my-video" class="media-object">Loading the video...</div>
                        </div>
                    </div>
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">视频简介</h3>
                        </div>
                        <div class="box-body">
                            <p th:text="${video.summary}"></p>
                        </div>
                    </div>
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">其他视频</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-3" style="text-align: center;" th:each="video,iter: ${videosAll}">
                                <span><a th:href="${'/open/health/message/center/play?id='+ video.id}">
                                        <img  th:src="@{'/file/'+${video.showImageUrl.thumbnailPelativePath}}" alt="ATTACHMENT"></a></span>
                                <div class="detail">
                                    <div>
                                        <strong><a class="name" th:href="${'/open/health/message/center/play?id='+ video.id}" th:text="${video.name}"></a></strong>
                                    </div>
                                    <div>
                                        <span>发布时间：</span><span th:text="${#dates.format(video.publishTime, 'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/assets/jquery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/assets/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/adminLTE/js/adminlte.min.js"></script>
    <script type="text/javascript" src="/static/js/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/
    $(function() {
        var url = $("#url").val();
        var showImageUrl = "/file/" + $("#showImageUrl").val();
        var w = $("#videoBody").width();
        jwplayer("my-video").setup({
            flashplayer: '/static/js/jwplayer/player.swf',
            file: url,
            title: '',
            image: showImageUrl,
            overstretch: true,
            width: w,
            height: w/2,
            showdigits: false,
            bufferlength: 10,
            // playlist: [
            //     { file: "http://172.16.11.156:5080/paladin-vedio/streams/3.mp4", image: "/static/js/sliderPro/js/1.jpg",title:"标题1",description:"描述1"},
            //     {file: "http://172.16.11.156:5080/paladin-vedio/streams/3.mp4", image: "/static/js/sliderPro/js/1.jpg",title:"标题2",description:"描述2"},
            //     {file: "http://172.16.11.156:5080/paladin-vedio/streams/3.mp4", image: "/static/js/sliderPro/js/1.jpg",title:"标题3",description:"描述3"}
            // ],
            // "playlist.position": "right",
            // "playlist.size": 200
        });
        /* 更新播放次数 */

        $.getAjax("/open/health/message/center/updateCount?videoId=" + $("#id").val(), function(data) {

        });
    })
    /*]]>*/
    </script>
</body>

</html>