<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header"/>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<link rel="stylesheet" type="text/css" href="/static/js/sliderPro/css/slider-pro.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/static/css/message-center.css" media="screen"/>
  
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">
		<header class="main-header" style="background-color: #43c7a8">
			<nav class="navbar navbar-static-top">
				<div class="container">

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse pull-left"
						id="navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">宣传内容<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">疾病查询</a></li>
									<li><a href="#">疾病知识</a></li>
									<li><a href="#">症状知识</a></li>
									<li><a href="#">健康处方</a></li>
								</ul>
							</li>
							<!-- <li><a href="#">link</a></li> -->
						</ul>
					</div>
					<div class="navbar-custom-menu">
					</div>
					<!-- /.navbar-custom-menu -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</header>
		<!-- Full Width Column -->
		<div class="content-wrapper">		
			<div class="container">
				<div class="list_container">
				<section>
					<div class="list_left">
						<div class="list_category">
							<div class="list_c_tit">信息中心</div>
							<ul class="list_c_show">
								<li><a href="/open/health/message/center/message/index">公告</a></li>
								<li><a href="/open/health/message/center/video/index">视频</a></li>
								<li><a
									href="/home/list?secondnodeid=9EF9D4C8-4F56-4593-8366-3C30B5CDE9E5">健康活动</a></li>
								<li><a
									href="/home/list?secondnodeid=AE359865-B396-4260-9B90-32AD0DBC5284">基层风采</a></li>
								
							</ul>
						</div>
						<!-- 图片轮播 -->
						<div class="image_slip">
							 <div id="myCarousel" class="carousel slide">
							    <div class="carousel-inner">
							        <div class="item active">
							             <img src="/static/img/gif.gif" alt="one slide">
							        </div>
							        <div class="item">
							            <img src="/static/image/gif.gif" alt="two slide">
							        </div>
							        <div class="item">
							             <img src="/static/image/gif.gif" alt="three slide">
							        </div>
							    </div>
							  </div>
						</div>
					</div>
				</section>
					<section>
					<div class="content-header" style="height: 50px;">
						<ol class="breadcrumb" style="float: left">
							<li><a href="#"><i class="fa fa-home"></i> 当前所在位置：主页</a></li>
							<li><a href="/open/health/message/center/topVideo">宣传宣传教育</a></li>
							<li class="active">健康宣传教育视频中心</li>
						</ol>
					</div>
						<div class="list_table" style="float: right">
							<table id="dataGrid"></table>
						</div>
					</section>
				</div>				
			</div>
		</div>
	<div th:include="/health/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { field: "name",align:"left",width:"88%"},
                    { field: "updateTime", formatter: "date" }
                ]
            ],
            url: '/open/health/message/center/find/page',
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            onClickRow:function (e) {
            	window.location = '/open/health/message/center/play' + (e ? ('?id=' + e.id) : '');
            }
        });
    }

    /*]]>*/
    </script>
</body>
</html>