<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="boolean,sex-type,family-hypertension-type,xk-disease-type,xk-index-type" />
    <div class="container">
        <section class="content-header">
            <h1>健康处方获取DEMO</h1>
        </section>
        <section class="content">
            <div id="base"></div>
            <div id="disease"></div>
            <div id="evaluate"></div>
            <div class="col-sm-2 col-sm-offset-5 btn-back">
                <a href="javascript:diagnose()" id="diagnoseBtn" class="btn btn-primary btn-block">提交</a>
            </div>
        </section>
    </div>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var base_options = {
        id: "base",
        name: "基本信息",
        server: false,
        columns: [
            { name: "name", title: "姓名", inputType: "TEXT" },
            { name: "identificationId", title: "身份证号码", inputType: "TEXT" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "cellphone", title: "手机号码", inputType: "TEXT" },
            { name: "birthday", title: "出生日期", inputType: "DATE" },
            { name: "sendMessage", title: "是否发送短信", inputType: "RADIO", enum: "boolean" },
            { name: "senderName", title: "发短信者姓名", inputType: "TEXT" }
        ]
    }

    var disease_options = {
        id: "disease",
        name: "疾病指标信息",
        server: false,
        columns: [
            { name: "disease", title: "疾病", inputType: "CHECKBOX", enum: "xk-disease-type", colspan: 2 },
            { name: "index", title: "指标", inputType: "CHECKBOX", enum: "xk-index-type", colspan: 2 }
        ]
    }

    var evaluate_options = {
        id: "evaluate",
        name: "评估信息",
        server: false,
        columns: [
            { name: "age", title: "年龄", inputType: "NUMBER", unit: "岁" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "height", title: "身高", inputType: "NUMBER", unit: "CM" },
            { name: "weight", title: "体重", inputType: "NUMBER", unit: "KG" },
            { name: "dbp", title: "低压（舒张压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "sbp", title: "高压（收缩压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "pbg", title: "餐后血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "fbc", title: "空腹血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "smoke", title: "是否吸烟", inputType: "RADIO", enum: "boolean" },
            { name: "drinking", title: "是否饮酒", inputType: "RADIO", enum: "boolean" },
            { name: "waistline", title: "腰围", inputType: "NUMBER", unit: "CM" },
            { name: "tc_mmol", title: "空腹血清总胆固醇", inputType: "NUMBER", unit: "mmol/L" },
            { name: "idl", title: "低密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hdl", title: "高密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hyperglycemia", title: "是否高血糖", inputType: "RADIO", enum: "boolean" },
            { name: "diabetes", title: "是否患糖尿病", inputType: "RADIO", enum: "boolean" },
            { name: "family_diabetes", title: "是否有糖尿病家族史", inputType: "RADIO", enum: "boolean" },
            { name: "strokeOrTia", title: "是否发作过中风或脑缺血", inputType: "RADIO", enum: "boolean" },
            { name: "family_cvd", title: "CVD家族史", inputType: "RADIO", enum: "boolean" },
            { name: "sports", title: "每天是否锻炼30分钟以上", inputType: "RADIO", enum: "boolean" },
            { name: "vegOrFruits", title: "每天是否吃水果或蔬菜", inputType: "RADIO", enum: "boolean" },
            { name: "dyazide", title: "是否服用降压药", inputType: "RADIO", enum: "boolean" },
            { name: "hormone", title: "是否连续6个月以上服用激素类药品", inputType: "RADIO", enum: "boolean" },
            { name: "menopause", title: "45岁前是否绝经", inputType: "RADIO", enum: "boolean" },
            { name: "diarrhea", title: "腹泻、腹痛或大便习惯", inputType: "RADIO", enum: "boolean" },
            { name: "rarelyBask", title: "不经常晒太阳", inputType: "RADIO", enum: "boolean" },
            { name: "rarelysports", title: "不经常参加运动锻炼", inputType: "RADIO", enum: "boolean" },
            { name: "family_osteoporosis", title: "是否有质疏松家族史", inputType: "RADIO", enum: "boolean" },
            { name: "family_hypertension", title: "是否有高血压家族史", inputType: "RADIO", enum: "family-hypertension-type", colspan: 2 }
        ]
    }

    var submitData, evaluateModel, baseModel, diseaseModel;

    $(function() {
        $("#evaluate").html(generateHtml(evaluate_options));
        evaluateModel = new tonto.Model("evaluate", evaluate_options.columns, {
            submitClick: function(model) {
                var jsonData = model.formBody.serializeArray();
                var d = {};
                jsonData.forEach(function(item) {
                    if (d[item.name]) {
                        d[item.name] = d[item.name] + "," + item.value;
                    } else {
                        d[item.name] = item.value;
                    }
                });
                model.setData(d);
                model.toView();
            }
        });
        evaluateModel.setData({
            age: "47",
            dbp: "90",
            diabetes: "1",
            diarrhea: "1",
            drinking: "1",
            dyazide: "1",
            family_cvd: "1",
            family_diabetes: "1",
            family_hypertension: "0",
            family_osteoporosis: "1",
            fbc: "10.8",
            hdl: "4.5",
            height: "178",
            hormone: "1",
            hyperglycemia: "1",
            idl: "4.12",
            menopause: "1",
            pbg: "16.1",
            rarelyBask: "1",
            rarelysports: "1",
            sbp: "156",
            sex: "1",
            smoke: "1",
            sports: "1",
            strokeOrTia: "1",
            tc_mmol: "7.8",
            vegOrFruits: "1",
            waistline: "100",
            weight: "95"
        });

        html = generateHtml(base_options);
        $("#base").html(generateHtml(base_options));

        baseModel = new tonto.Model("base", base_options.columns, {
            submitClick: function(model) {
                var jsonData = model.formBody.serializeArray();
                var d = {};
                jsonData.forEach(function(item) {
                    if (d[item.name]) {
                        d[item.name] = d[item.name] + "," + item.value;
                    } else {
                        d[item.name] = item.value;
                    }
                });
                model.setData(d);
                model.toView();
            }
        });

        baseModel.setData({
            name: "周如",
            sex: 1,
            identificationId: "320583198806119617",
            cellphone: "13584950680"
        });

        $("#disease").html(generateHtml(disease_options));
        diseaseModel = new tonto.Model("disease", disease_options.columns, {
            submitClick: function(model) {
                var jsonData = model.formBody.serializeArray();
                var d = {};
                jsonData.forEach(function(item) {
                    if (d[item.name]) {
                        d[item.name] = d[item.name] + "," + item.value;
                    } else {
                        d[item.name] = item.value;
                    }
                });
                model.setData(d);
                model.toView();
            }
        });
        diseaseModel.setData({
            index: "HR51.03.057,CM.0134"
        });
        $.initComponment($(".content"));
    });

    function diagnose() {
        var request = jQuery.extend({}, baseModel.data);
        request.condition = evaluateModel.data;
        var d = diseaseModel.data;
        var ds = d && d.disease || [];
        var is = d && d.index || [];
        request.diseases = ds.concat(is);

        $.postJsonAjax("/xk/diagnose", request, function(data) {
            console.log(data);
            var html = createEvaluateHtml(data.evaluation) + createKnowledgeHtml(data.knowledge);
            html = "<div style='padding:40px;padding-right:55px'>" + html + "</div>";
            $.openPageLayer(html);

        }, $("#diagnoseBtn"))
    }

    function createEvaluateHtml(data) {
        var html = "";

        data.forEach(function(item) {
            html += createEvaluateItemHtml(item);
        });

        return "<fieldset><legend>风险评估</legend><div>" + html + "</div></fieldset>";
    }

    function createEvaluateItemHtml(data) {

        var level = data.riskLevel;
        if (level <= 2) {
            color = 'success';
        } else if (level <= 3) {
            color = 'warning';
        } else {
            color = 'danger';
        }

        return '<dl class="dl-horizontal" style="padding-bottom:20px;">' +
            '    <dt>评估名称：</dt>' +
            '    <dd>' + data.name + '</dd>' +
            '    <dt>风险等级：</dt>' +
            '    <dd><span class="label label-' + color + '">' + data.riskLevelName + '</span></dd>' +
            '    <dt>分析建议：</dt>' +
            parseEvaluateContent(data.suggest) +
            '</dl>';
    }

    function parseEvaluateContent(content) {
        var arr = content.split('@#');

        var s = "";
        arr.forEach(function(a) {
            s += "<dd>&nbsp;&nbsp;" + a + "</dd>";
        });

        return s;
    }

    function createKnowledgeHtml(data) {
        var html = "";

        data.forEach(function(item) {
            html += createKnowledgeItemHtml(item);
        });

        return "<fieldset><legend>体检百科</legend><div>" + html + "</div></fieldset>";
    }

    function createKnowledgeItemHtml(data) {
        var knowledge = data.knowledge;
        return '<dl class="dl-horizontal" style="padding-bottom:20px;">' +
            '    <dt>名称：</dt>' +
            '    <dd>' + data.name + '</dd>' +
            '    <dt>类型：</dt>' +
            '    <dd><span class="label label-info">' + (data.type == 'index' ? '指标' : '疾病') + '</span></dd>' +
            // parseKnowledgeContent("所属科室", knowledge['ad']) +
            // parseKnowledgeContent((data.type=='index'?'检查目的':'疾病概述'), knowledge['dm']) +
            // parseKnowledgeContent((data.type=='index'?'判定标准':'疾病分类'), knowledge['dc']) +
            // parseKnowledgeContent((data.type=='index'?'可能原因':'病因'), knowledge['dd_c']) +
            // parseKnowledgeContent("症状", knowledge['dd_s']) +
            // parseKnowledgeContent((data.type=='index'?'可能存在的风险或疾病':'风险或并发症'), knowledge['dd_r']) +
            parseKnowledgeContent("生活方式", knowledge['dd_l']) +
            parseKnowledgeContent("饮食建议", knowledge['dd_d']) +
            parseKnowledgeContent("饮食宜吃", knowledge['dd_d_s']) +
            parseKnowledgeContent("饮食忌吃", knowledge['dd_d_a']) +
            parseKnowledgeContent("运动建议", knowledge['dd_sa']) +
            parseKnowledgeContent("运动宜做", knowledge['dd_sa_s']) +
            parseKnowledgeContent("运动忌做", knowledge['dd_sa_a']) +
            parseKnowledgeContent("医疗保健", knowledge['dd_m']) +
            //parseKnowledgeContent("就医复查指南", knowledge['dd_g']) +
            parseKnowledgeContent("生活常识", knowledge['dd_n']) +
            '</dl>';
    }

    function parseKnowledgeContent(name, data) {
        var html = "";

        if (data) {
            data = data.split("@#");
            data.forEach(function(it) {

                var ii = it.split("#@"),
                    h = "";
                if (ii.length == 1) {
                    h = ii[0];
                } else {
                    var b = true;
                    for (var i = 0; i < ii.length;) {
                        if (b) {
                            if (i < ii.length - 1) {
                                var m = ii[i],
                                    n = ii[++i];
                                if (m == '综述') {
                                    h += "<b style='color:red'>" + m + "：</b><span style='color:#aaa'>" + n + "</span>";
                                }
                                else {
                                    h += "<b>" + m + "：</b>" + n;
                                }
                            } else {
                                var k = ii[++i];
                                if (k)
                                    h += k;
                            }
                        }
                    }
                }

                html += h + "<br>";
            });
        } else {
            html = "无";
        }

        return '<dt>' + name + '：</dt><dd>' + html + '</dd>';
    }

    function parseOverview(data) {

    }
    </script>
</body>

</html>