<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="boolean,sex-type,family-hypertension-type" />
    <div class="container">
        <section class="content-header">
            <h1>健康处方获取</h1>
        </section>
        <section class="content">
            <div id="evaluate">
            </div>
        </section>
    </div>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "评估信息",
        url: "/xk/evaluate",
        columns: [
            { name: "age", title: "年龄", inputType: "NUMBER", unit: "岁" },
            { name: "sex", title: "性别", inputType: "RADIO", enum: "sex-type", colspan: 2 },
            { name: "height", title: "身高", inputType: "NUMBER", unit: "CM" },
            { name: "weight", title: "体重", inputType: "NUMBER", unit: "KG" },
            { name: "dbp", title: "低压（舒张压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "sbp", title: "高压（收缩压）", inputType: "NUMBER", unit: "mmHg" },
            { name: "pbg", title: "餐后血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "fbc", title: "空腹血糖", inputType: "NUMBER", unit: "mmol/L" },
            { name: "smoke", title: "是否吸烟", inputType: "RADIO", enum: "boolean" },
            { name: "drinking", title: "是否饮酒", inputType: "RADIO", enum: "boolean" },
            { name: "waistline", title: "腰围", inputType: "NUMBER", unit: "CM" },
            { name: "tc_mmol", title: "空腹血清总胆固醇", inputType: "NUMBER", unit: "mmol/L" },
            { name: "idl", title: "低密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hdl", title: "高密度脂蛋白", inputType: "NUMBER", unit: "mmol/L" },
            { name: "hyperglycemia", title: "是否高血糖", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "diabetes", title: "是否患糖尿病", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "family_diabetes", title: "是否有糖尿病家族史", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "strokeOrTia", title: "是否发作过中风或脑缺血", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "family_cvd", title: "CVD家族史", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "sports", title: "每天是否锻炼30分钟以上", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "vegOrFruits", title: "每天是否吃水果或蔬菜", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "dyazide", title: "是否服用降压药", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "hormone", title: "是否连续6个月以上服用激素类药品", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "menopause", title: "45岁前是否绝经", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "diarrhea", title: "腹泻、腹痛或大便习惯", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "rarelyBask", title: "不经常晒太阳", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "rarelysports", title: "不经常参加运动锻炼", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "family_osteoporosis", title: "是否有质疏松家族史", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { name: "family_hypertension", title: "是否有高血压家族史", inputType: "RADIO", enum: "family-hypertension-type", colspan: 2 }
        ]
    }

    var submitData, evaluateDiv;

    $(function() {

        $.getAjax("/xk/evaluate/get/demo", function(data) {
            var html = generateHtml(options);
            $("#evaluate").html(html);
            var model = new tonto.Model("model", options.columns, {
                beforeSubmit: function(formdata) {
                    submitData = {};
                    formdata.forEach(function(item) {
                        submitData[item.name] = item.value;
                    });
                },
                successCallback: function(result) {
                    model.setData(submitData);
                    model.toView();
                    showEvaluateResult(result);
                }
            });

            model.setData(data);
            $.initComponment($("#evaluate"));
        });
    });

    function showEvaluateResult(data) {
        var html = "";

        html += getEvaluateItemHtml('糖尿病风险评估', data.diabetes);
        html += getEvaluateItemHtml('高血压风险评估', data.hypertension);
        html += getEvaluateItemHtml('心房颤动后中风风险评估', data.af);
        html += getEvaluateItemHtml('冠心病风险评估', data.chd);
        html += getEvaluateItemHtml('缺血性心血管病风险评估', data.icvd);
        html += getEvaluateItemHtml('五年内糖尿病患者发生心脑血管并发症风险评估', data.cvd);
        html += getEvaluateItemHtml('骨质疏松症风险评估', data.osteoporosis);

        html = "<div style='padding-top:40px;padding-bottom:40px;padding-right:55px'>" + html + "</div>";
        $.openPageLayer(html);
    }

    function getEvaluateItemHtml(name, data) {
        if (!data || data.status != '0000') {
            return '';
        }

        data = data.result;
        data = JSON.parse(data);
        var color, level = data.riskLevel;
        if (level == '低风险' || level == '极低风险') {
            color = 'success';
        } else if (level == '中风险' || level == '中等风险') {
            color = 'warning';
        } else if (level == '高风险' || level == '极高风险') {
            color = 'danger';
        } else {
            return '';
        }

        return '<dl class="dl-horizontal" style="padding-bottom:20px;border-bottom: 1px solid #eee">' +
            '    <dt>评估名称：</dt>' +
            '    <dd>' + name + '</dd>' +
            '    <dt>风险等级：</dt>' +
            '    <dd><span class="label label-' + color + '">' + data.riskLevel + '</span></dd>' +
            '    <dt>分析建议：</dt>' +
            '    <dd>' + data.suggest + '</dd>' +
            '</dl>';
    }
    </script>
</body>

</html>