<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header" />
<link rel="stylesheet" href="/static/assets/bootstrap-treeview/bootstrap-treeview.min.css" />

<body>
    <section class="content">
        <div class="container">
        	<input type="hidden" id="symptomKey" th:value="${symptomKey}"/>
        	<input type="hidden" id="symptomName" th:value="${symptomName}"/>        
            <div class="col-md-12">
            	<div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="symptomInput" placeholder="请输入症状名称或拼音" /> 
                        <span class="input-group-btn">
			                <button type="button" name="search" id="search-btn" class="btn btn-flat" onclick="search_menu()"><i class="fa fa-search"></i>
			                </button>
			                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
			             </span>                                          
                    </div>
                </div>
            </div>
          <div id="content" class="col-md-12">
     
          </div>
        </div>
       </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript" src="/static/assets/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script type="text/javascript" src="/static/js/health/xk/symptom_index.js"></script>
    <script type="text/javascript" src="/static/assets/bootstrap-suggest/bootstrap-suggest.js"></script>
</body>

</html>