<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    
    <section class="content-header">
        <h1>机构管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/org/agency/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a  href="/health/org/agency/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/health/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/health/org/agency/update?id="+$("#id").val(),
	        columns: [
	        	{ title: "上级机构", name:"parentId", inputType:"SELECT-TREE-SERVER", url:"/health/org/agency/find/all/tree"},
				{ title: "机构名称", name: "name", inputType: "TEXT" },
				{ title: "备注", name: "remarks", inputType: "TEXT" }
				]
	    }
    
        $.getAjax("/health/org/agency/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
            $.initComponment();
        });
    });
    </script>
</body>

</html>