<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <section class="content-header">
        <h1>用户管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/org/user/index"><i class="fa fa-list-alt"></i>用户列表</a></li>
            <li class="active">用户详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a  href="/health/org/user/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/health/footer" />
    <script type="text/javascript">
    $(function() {
        var options = {
            id: "model",
            name: "用户详情",
            url: "/health/org/user/update?id=" + $("#id").val(),
            columns: [
                { title: "账号", name: "account", inputType: "TEXT", required: "required" },
                { title: "姓名", name: "name", inputType: "TEXT", required: "required" },
                { title: "所属机构", name: "agencyId", inputType: "SELECT-TREE-SERVER", url: "/health/org/agency/find/own/tree", required: "required" },
                { title: "角色", name: "roleId", inputType: "SELECT-SERVER", url: "/health/org/user/find/own/role", nameField: "roleName", multiple:false, required: "required" },
                { title: "身份证", name: "identificationId", inputType: "TEXT" },
                { title: "描述", name: "description", inputType: "TEXTAREA" }
            ]
        }


        $.getAjax("/health/org/user/get?id=" + $("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
            var model = new tonto.Model("model", options.columns, {
                successCallback: function() {
                    $.successAlert("保存成功", function() {
                        window.location = "/health/org/user/index";
                    });
                }
            });
            model.setData(data);
        });
    });
    </script>
</body>

</html>