<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.prescription.PrescriptionInterfaceManageMapper">
	<update id="start">
		UPDATE prescription_interface_manage SET enabled=1 WHERE app_key=#{id}
	</update>
	<update id="stop">
		UPDATE prescription_interface_manage SET enabled=0 WHERE app_key=#{id}
	</update>
</mapper>
