<title>数据库系统</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/static/assets/bootstrap3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/assets/bootstrap-table/bootstrap-table.min.css" />
<link rel="stylesheet" href="/static/assets/iCheck/square/_all.css" />

<link rel="stylesheet" href="/static/assets/adminLTE/components/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/assets/adminLTE/components/Ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/static/assets/adminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/assets/adminLTE/css/skins/skin-green-light.min.css">

<style>
	.curtain{
		background-color: #ecf0f5;
	}
</style>