<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/data/header" />

<body class="layout-boxed sidebar-mini">
    <div class="wrapper curtain">
        <section class="content-header">
            <h1>
        数据库管理
        <small>连接</small>
      </h1>
            <ol class="breadcrumb">
                <li><a href="/data/index"><i class="fa fa-home"></i> 主页</a></li>
                <li class="active">数据库管理</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">查询</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">
                    <form id="searchbar" class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-xs-1 control-label">姓名</label>
                            <div class="col-xs-2">
                                <input type="text" name="name" class="form-control" />
                            </div>
                            <div class="col-xs-9">
                                <div class="pull-right">
                                    <button type="button" onclick="table.refresh()" class="btn btn-default">查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">结果</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="min-height:500px">
                    <table id="dataGrid"></table>
                    <div id="toolbar">
                        <div class="btn-group">
                            <button onclick="connect()" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i>连接</button>
                            <button onclick="edit()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>新增</button>
                            <button onclick="edit()" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>修改</button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                </div>
                <!-- /.box-footer -->
            </div>
    </div>
    </section>
    <div th:include="/data/footer"></div>
</body>
<script type="text/javascript">
var table;
$(function() {
    initDataGrid();
});

function initDataGrid(enumMap) {

    table = $.createTable("#dataGrid", {
        idField: "id",
        columns: [
            [
                { radio: true },
                { title: "名称", field: "name", sortable: true },
                { title: "URL", field: "url" },
                { title: "类型", field: "type" },
                { title: "用户名", field: "userName" },
                { title: "备注", field: "note" }
            ]
        ],
        url: '/data/connection/search',
        searchbar: '#searchbar',
        sortName: 'name',
        showColumns: true,
        sortOrder: 'asc',
        pagination: true,
        clickToSelect: true,
        toolbar: "#toolbar",
        showRefresh: true
    });
}
 
function getSelectRow() {
    var rows = table.getSelections();
    return rows.length > 0 ? rows[0] : null;
}

function connect() {
    var row = getSelectRow();

    if (row) {        
    	$.postFormAjax("/data/connection/connect", {
    		name:row.name,
    		url:row.url,
    		type:row.type,
    		userName:row.userName,
    		password:row.password
    	});
    } else {
        $.errorMessage("请选中一条业务数据！");
    }
}

function edit() {
    var row = getSelectRow();

    if (row) {
        layer.open({
            type: 2,
            title: ' ',
            maxmin: true, //开启最大化最小化按钮
            area: ['770px', '750px'],
            content: '/edit/input?id=' + row.id,
            success: function(layero, index) {
                $.setLayerSubmitHandler(layero, index, function() {
                    layer.close(index);
                    table.refresh();
                }, "保存成功");
            }
        });
    } else {
        $.errorMessage("请选中一条业务数据！");
    }
}

</script>

</html>