<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header"/>

<body >
<section class="content">
    <input type="hidden" id="url" th:value="${video.url}">
    <input type="hidden" id="id" th:value="${video.id}">
    <input type="text" id="count">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 th:text="${video.name}" style="text-align: center"></h2>
                <h5 th:text="|视频发布时间:  ${#dates.format(video.createTime,'yyyy-MM-dd HH:mm:SS')}|"  style="text-align: right"></h5>
                <div  id="my-video"  class="media-object">Loading the video...</div>
                <p th:text="|视频简介:  ${video.summary}|"></p>
            </div>
        </div>
    </div>
</section>
<div th:include="/health/footer"/>
<script type="text/javascript" src="/static/js/jwplayer/jwplayer.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
            var url =$("#url").val();
        jwplayer("my-video").setup({
            flashplayer: '/static/js/jwplayer/player.swf',
            file: url,
            image: "/static/js/sliderPro/js/1.jpg",
            overstretch: true,
            width: 750,
            height: 440,
            showdigits : false,
            bufferlength: 10
           /* events: {
                onReady: function() {
                    video = $('#my-video').is('object') ? $('#my-video').parent() : $('#my-video');
                    video.videoController();
                },
                onPlay: function () {
                    $( '#example1' ).sliderPro({
                        autoplay : false
                    });
                },
                onFullscreen: function (obj) { if (obj.fullscreen) { alert("全屏"); } else { alert("非全屏"); } }
            }*/
        });
        /* 更新播放次数 */
        debugger
        $.getAjax("/health/video/play/publish/updateCount?videoId="+$("#id").val(), function(data) {
           $("#count").val(data.result.count);
        });
    })
    /*]]>*/
</script>
</body>
</html>