<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="publicity-video-status" />
    <section class="content-header">
        <h1>视频审核</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select name="status" class="form-control tonto-select">
                                <option value="1">待审核</option>
                                <option value="9">审核成功</option>
                            </select>
                        </div>
                        <div class="col-md-10">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "视频名称", align: "center", field: "name" },
                    { title: "标签", align: "center", field: "label" },
                    {
                        title: "视频地址",
                        align: "center",
                        field: "url",
                        formatter: function(value, row, index) {
                            return ['<a  href= " ' + row.url + ' "  >' + row.url + '</a>'];
                        }
                    },
                    { title: "状态", align: "center", field: "status", enumcode: "publicity-video-status" },
                    {
                        title: "操作",
                        align: "center",
                        width: "10%",
                        events: {
                            'click .check': function(e, value, row, index) {
                                examine(row);
                            },
                            'click .detail': function(e, value, row, index) {
                                view(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            if (row.status === 1) {
                                return '<button class="check btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>审核</button>';
                            } else {
                                return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-eye-open"></i>查看</button>';
                            }
                        }
                    }

                ]
            ],
            url: '/health/video/find/to/examine',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            // toolbar: "#toolbar",
            showRefresh: true
        });
    }

    /*     function examine(row) {
            if(row){        
                layer.confirm('确定审核吗?', function() {
                $.getAjax('/health/video/examine?id=' + row.id, function() {
                    $.successMessage("审核成功");
                    table.refresh();
                });
            });
          }
        } */

    function examine(row) {
        if (row) {
            window.location = '/health/video/examine?id=' + row.id;
        }
    }

    function view(row) {
        if (row) {
            window.location = '/health/video/examine/detail?id=' + row.id;
        }
    }
    </script>
</body>

</html>