<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="boolean,publicity-video-status" />
    <section class="content-header">
        <h1>视频管理</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="name" th:value="${query?.name}" placeholder="请输入视频名称" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="label" th:value="${query?.label}" placeholder="请输入标签" />
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="add()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加视频</a>
                    </div>
                    <!--                     <div class="btn-group">
                        <a href="javascript:void(0);" onclick="initTable()" class="btn btn-primary">待排序视频&nbsp;&nbsp;<span class="badge" id="sortCount">0</span></a>
                    </div> -->
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">置顶排序顺序(拖动排序)</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table  table-bordered" id="field_list_table">
                                <thead id="gridThead">
                                    <tr style="cursor: pointer;">
                                        <td class="listHeadCell">排序顺序</td>
                                        <td class="listHeadCell">视频名称</td>
                                    </tr>
                                </thead>
                                <tbody id="gridtbody">
                                    <tr>
                                        <td>
                                            <span class="badge" >1</span>
                                        </td>
                                        <td>名称1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                            <button class="btn btn-primary" onclick="sort()" type="button">提交</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript" src="/static/js/dragsort/jquery.dragsort-0.5.2.js"></script>
    <script type="text/javascript">
    var table;
    $(function() {
        initDataGrid();
        initdragsort();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "视频名称", align: "center", field: "name" },
                    { title: "标签", align: "center", field: "label" },
                    { title: "状态", field: "status", enumcode: "publicity-video-status" },
                    {
                        title: "视频地址",
                        align: "center",
                        field: "url",
                        formatter: function(value, row, index) {
                            return ['<a  href= " ' + row.url + ' "  >' + row.url + '</a>'];
                        }
                    },
                    {
                        title: "操作",
                        align: "center",
                        width: "20%",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            },
                            'click .remove': function(e, value, row, index) {
                                remove(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            if (row.status === 0 || row.status === 2) {
                                return [
                                    '<button class="detail btn btn-xs btn-info" style="margin-right:10px">',
                                    '<i class="glyphicon glyphicon-edit"></i>详情',
                                    '</button>',
                                    '<button class="remove btn btn-xs btn-danger" style="margin-right:10px">',
                                    '<i class="glyphicon glyphicon-remove"></i>删除',
                                    '</button>'
                                ].join('');
                            } else {
                                return [
                                    '<button class="detail btn btn-xs btn-info" style="margin-right:10px">',
                                    '<i class="glyphicon glyphicon-edit"></i>详情',
                                    '</button>'
                                ].join('');
                            }
                        }
                    }
                ]
            ],
            url: '/health/video/find/page',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function operateFormatter(value, row, index) {
        if (row.top === 0) {
            return [
                '<button class="detail btn btn-xs btn-info" style="margin-right:10px">',
                '<i class="glyphicon glyphicon-edit"></i>详情',
                '</button>',
                '<button class="remove btn btn-xs btn-danger" style="margin-right:10px">',
                '<i class="glyphicon glyphicon-remove"></i>删除',
                '</button>'
            ].join('');
        } else {
            return [
                '<button class="detail btn btn-xs btn-info" style="margin-right:10px">',
                '<i class="glyphicon glyphicon-edit"></i>详情',
                '</button>',
                '<button class="remove btn btn-xs btn-danger" style="margin-right:10px">',
                '<i class="glyphicon glyphicon-remove"></i>删除',
                '</button>'
            ].join('');
        }

    }
    var sortCount = [];

    function addSortNo(row) {
        var obj = {};
        var videoId = row.id;
        var videoName = row.name;
        obj.id = videoId;
        obj.name = videoName;
        var i = sortCount.findIndex(function(video) {
            return video.id === videoId;
        });
        if (i >= 0) {
            $.errorMessage("已存在该视频");
        } else {
            sortCount.push(obj);
        }
        $("#sortCount").text(sortCount.length);
    };

    function initTable() {
        if (sortCount.length === 0) {
            $.errorMessage("请先添加置顶视频");
            return;
        }
        if (sortCount.length === 9) {
            $.errorMessage("最多添加8个置顶视频");
            return;
        }
        var html = '';
        sortCount.forEach(function(video, index) {
            var i = index + 1;
            html += '<tr id="' + video.id + '">' +
                '        <td><span class="badge">' + i +
                '       </span></td>' +
                '        <td>' + video.name +
                '         </td>' +
                '    </tr>';
        });
        $("#myModal").modal('show');
        $("#gridtbody").html(html);
    }

    var arr = [];

    function sort() {
        if ($("#field_list_table tr").length > 1) {
            $("#gridtbody tr").each(function(i, item) {
                arr[i] = $(this).attr('id') + ":" + $(this).find(".badge").text();
            })
        }
        if (arr.length > 5) {
            arr = arr.slice(0, 5);
        }
        $.postAjax("/health/video/sort", {
            ids: arr
        }, function() {
            $.successMessage("排序设置成功!");
            $("#myModal").modal('hide');
            sortCount = [];
            $("#sortCount").text(sortCount.length);
            table.refresh();
        });
    }

    function initdragsort() {
        $("#gridtbody").dragsort({
            itemSelector: "tr",
            dragSelector: "tr",
            dragBetween: false,
            placeHolderTemplate: "<tr><td></td></tr>"
        });
    }

    function add() {
        window.location = '/health/video/add';
    }

    function detail(row) {
        window.location = '/health/video/detail' + (row ? ('?id=' + row.id) : '');
    }

    function remove(row) {
        if (row) {
            layer.confirm('确定删除吗?', function() {
                $.getAjax('/health/video/delete?id=' + row.id, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        }
    }

    function publish(row) {

    }
    </script>
</body>

</html>