<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header"/>

<body >
<section>
    <input type="hidden" id="url" th:value="${video.url}">
    <input type="hidden" id="id" th:value="${video.id}">
    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="left: 80px">
                <div class="box box-solid">
                    <h2 th:text="${video.name}" style="text-align: center"></h2>
                    <h5 th:text="|视频发布时间:  ${#dates.format(video.createTime,'yyyy-MM-dd')}|" style="text-align: right"></h5>
                    <div id="my-video" class="media-object">Loading the video...</div>
                   <!-- <p th:text="|视频简介:  ${video.summary}|"></p>-->
                </div>
            </div>
            <div class="col-sm-3" style="top: 20px;left: 60px">
                <div class="box box-solid">
                    <ul class="list-group" >
                        <a class="list-group-item" th:each="video,iter: ${videosAll}" th:href="${'/health/video/play?id='+ video.id}" >
                            <div class="media">
                                <div class="media-left">
                                    <img src="/static/js/sliderPro/js/3.jpg" class="media-object" style="width: 70px;height: 58px; " >
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" th:text="${video.name}"></h4>
                                    <p  th:text="|标签:${video.label != null ? video.label:'无'}|"></p>
                                </div>
                            </div>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/health/footer"/>
<script type="text/javascript" src="/static/js/jwplayer/jwplayer.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
            var url =$("#url").val();
        jwplayer("my-video").setup({
            //flashplayer: '/static/js/jwplayer/player.swf',
            file: url,
            title: '标题0',
            image: "/static/js/sliderPro/js/1.jpg",
            overstretch: true,
            width: 750,
            height: 440,
            showdigits: false,
            bufferlength: 10,
            // playlist: [
            //     { file: "http://172.16.11.156:5080/paladin-vedio/streams/3.mp4", image: "/static/js/sliderPro/js/1.jpg",title:"标题1",description:"描述1"},
            //     {file: "http://172.16.11.156:5080/paladin-vedio/streams/3.mp4", image: "/static/js/sliderPro/js/1.jpg",title:"标题2",description:"描述2"},
            //     {file: "http://172.16.11.156:5080/paladin-vedio/streams/3.mp4", image: "/static/js/sliderPro/js/1.jpg",title:"标题3",description:"描述3"}
            // ],
            // "playlist.position": "right",
            // "playlist.size": 200
        });
        /* 更新播放次数 */
    
        $.getAjax("/health/video/play/publish/updateCount?videoId="+$("#id").val(), function(data) {
           
        });
    })
    /*]]>*/
</script>
</body>
</html>