<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
<tt:constant enumcode="boolean"/>
    <section class="content-header">
        <h1>视频管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/video/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
	<section class="content">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="glyphicon glyphicon-user"></i>
				<h3 class="box-title">详情</h3>
				<div class="box-tools pull-right">
					<a class="btn" id="model_edit_btn" href="javascript:void(0)"><i class="fa fa-edit"></i>编辑</a>
				</div>
			</div>
			<div id="model_view" class="box-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="summary" class="col-sm-3 control-label">视频简介：</label>
						<div class="col-sm-3">
							<p name="summary" class="form-control-static description"></p>
						</div>
						<label for="top" class="col-sm-2 control-label">是否置顶：</label>
						<div class="col-sm-3">
							<p name="top" class="form-control-static description"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">视频名称：</label>
						<div class="col-sm-3">
							<p name="name" class="form-control-static description"></p>
						</div>
						<label for="label" class="col-sm-2 control-label">标签：</label>
						<div class="col-sm-3">
							<p name="label" class="form-control-static description"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="topOrderNo" class="col-sm-3 control-label">置顶排序号：</label>
						<div class="col-sm-3">
							<p name="topOrderNo" class="form-control-static description"></p>
						</div>
						<label for="url" class="col-sm-2 control-label">视频地址：</label>
						<div class="col-sm-3">
							<p name="url" class="form-control-static description"></p>
						</div>
					</div>
					<div class="form-group">
						<label for="showImage" class="col-sm-3 control-label">展示图片：</label>
						<div name="showImage" class="col-sm-8">
							<ul class="mailbox-attachments clearfix"></ul>
						</div>
					</div>
				</form>
			</div>
			<div id="model_edit" class="box-body" style="display: none">
				<form id="model_form"
					action="/health/video/update"
					method="post" class="form-horizontal edit-body"
					enctype="multipart/form-data"
					novalidate="novalidate">
					<div class="form-group">
						<label for="summary" class="col-sm-3 control-label">视频简介：</label>
						<div class="col-sm-3">
							<input name="summary" placeholder="请输入视频简介" type="text"
								class="form-control">
						</div>
						<label for="top" class="col-sm-2 control-label">是否置顶：</label>
						<div class="col-sm-3">
							<select name="top" class="form-control" >
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label">视频名称：</label>
						<div class="col-sm-3">
							<input name="name" placeholder="请输入视频名称" type="text"
								class="form-control">
						</div>
						<label for="label" class="col-sm-2 control-label">标签：</label>
						<div class="col-sm-3">
							<input name="label" placeholder="请输入标签" type="text"
								class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="url" class="col-sm-3 control-label">视频地址：</label>
						<div class="col-sm-5">
							<input name="url" placeholder="请输入视频地址" type="text"
								class="form-control">
						</div>
					</div>
					<div class="form-group">
                        <label for="attachmentFiles" class="col-sm-3 control-label">展示图片：</label>
                        <div class="col-sm-8">
                            <input type="file" name="attachmentFiles" multiple>
                        </div>
                    </div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-3">
							<button type="submit" id="model_form_submit_btn"
								class="btn btn-primary btn-block">保存</button>
						</div>
						<div class="col-sm-2 col-sm-offset-1">
							<button type="button" id="model_form_cancel_btn"
								class="btn btn-default btn-block">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/health/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/health/video/update?id="+$("#id").val(),
	        columns: [
				
				{ title: "视频简介", name: "summary", inputType: "TEXT" },
				{ title: "是否置顶", name: "top", inputType: "SELECT",enum: "boolean" },
				{ title: "视频名称", name: "name", inputType: "TEXT" },
				{ title: "标签", name: "label", inputType: "TEXT" },
				{ title: "置顶排序号", name: "topOrderNo", inputType: "TEXT" },
				{ title: "视频地址", name: "url", inputType: "TEXT" },
				{ title: "展示图片(附件ID)", name: "showImage", inputType: "ATTACHMENT", fileName: "attachmentFiles" }
				]
	    }
    
        $.getAjax("/health/video/get?id="+$("#id").val(), function(data) {
            var model = new tonto.Model("model", options.columns,{
				successCallback : function() {
					$.successAlert("修改成功", function() {
						window.location = "/health/video/index";
					});
				},
				extraParam: {
					id: $("#id").val()
				}
			});
			if (data.topOrderNo === 6 || data.topOrderNo === 7) {
				data.topOrderNo = '未排序'
			}
            model.setData(data);
            $.initComponment();
        });
    });
    </script>
</body>

</html>