<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />
<link rel="stylesheet" href="/static/assets/tagsinput/bootstrap-tagsinput.css" />

<body>
    <tt:constant enumcode="boolean" />
    <section class="content-header">
        <h1>视频管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/video/index"><i class="fa fa-list-alt"></i>视频列表</a></li>
            <li class="active">视频详情</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-edit"></i>
                <h3 class="box-title">详情</h3>
                <div class="box-tools pull-right">
                    <a class="btn" id="model_edit_btn" href="javascript:void(0)"><i class="fa fa-edit"></i>编辑</a>
                </div>
            </div>
            <div id="model_view" class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">视频名称：</label>
                        <div class="col-sm-3">
                            <p name="name" class="form-control-static description"></p>
                        </div>
                        <label for="summary" class="col-sm-2 control-label">视频简介：</label>
                        <div class="col-sm-3">
                            <p name="summary" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishTime" class="col-sm-3 control-label">发布时间：</label>
                        <div class="col-sm-3">
                            <p name="publishTime" class="form-control-static description"></p>
                        </div>
                    </div>
<!--                     <div class="form-group">
                        <label for="top" class="col-sm-3 control-label">是否置顶：</label>
                        <div class="col-sm-3">
                            <p name="top" class="form-control-static description"></p>
                        </div>
                        <label for="topOrderNo" class="col-sm-2 control-label">置顶排序号：</label>
                        <div class="col-sm-3">
                            <p name="topOrderNo" class="form-control-static description"></p>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="label" class="col-sm-3 control-label">标签：</label>
                        <div class="col-sm-3">
                            <p name="label" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label">视频地址：</label>
                        <div class="col-sm-3">
                            <p name="url" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="showImage" class="col-sm-3 control-label">展示图片：</label>
                        <div name="showImage" class="col-sm-8">
                        </div>
                    </div>
                </form>
            </div>
            <div id="model_edit" class="box-body" style="display: none">
                <form id="model_form" action="/health/video/update" method="post" class="form-horizontal edit-body" enctype="multipart/form-data" novalidate="novalidate">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>视频名称：</label>
                        <div class="col-sm-3">
                            <input name="name" placeholder="请输入视频名称" type="text" class="form-control">
                        </div>
                        <label for="summary" class="col-sm-2 control-label">视频简介：</label>
                        <div class="col-sm-3">
                            <input name="summary" placeholder="请输入视频简介" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publishTime" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>发布时间：</label>
                        <div class="col-sm-3">
                            <input name="publishTime" placeholder="请输入发布时间" type="text" autocomplete="off" class="form-control tonto-datepicker-date" required="required" />
                        </div>
                    </div>
<!--                     <div class="form-group">
                        <label for="label" class="col-sm-3 control-label">标签：</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="label" data-role="tagsinput" placeholder="输入内容后回车"></input>
                        </div>
                        <label for="top" class="col-sm-2 control-label">是否置顶：</label>
                        <div class="col-sm-3">
                            <select name="top" class="form-control">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="url" class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>视频地址：</label>
                        <div class="col-sm-3">
                            <input name="url" placeholder="请输入视频地址" type="text" class="form-control">
                        </div>
                    </div>
                    <input type="hidden" id="statusInput" name="status" />
                    <div class="form-group">
                        <label for="showImageFile" class="col-sm-3 control-label">展示图片：</label>
                        <div class="col-sm-5">
                            <input type="file" name="showImageFile">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-block" onclick="setStatus(0)">暂存</button>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-success btn-block" onclick="setStatus(1)">提交</button>
                        </div>
                        <div class="col-sm-1 col-sm-offset-1">
                            <button type="button" id="model_form_cancel_btn" class="btn btn-default btn-block">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-5 btn-back">
            <a href="/health/video/index" class="btn btn-primary btn-block">返回</a>
        </div>
    </section>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/health/footer" />
    <script type="text/javascript" src="/static/assets/tagsinput/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var options = {
            id: "model",
            name: "详情",
            url: "/health/video/update?id=" + $("#id").val(),
            columns: [

                { title: "视频简介", name: "summary", inputType: "TEXT" },
                { title: "是否置顶", name: "top", inputType: "SELECT", enum: "boolean" },
                { title: "视频名称", name: "name", inputType: "TEXT" },
                { title: "标签", name: "label", inputType: "TAGSINPUT" },
                { title: "发布时间", name: "publishTime", inputType: "DATE" },
                { title: "置顶排序号", name: "topOrderNo", inputType: "TEXT" },
                { title: "视频地址", name: "url", inputType: "TEXT" },
                { title: "展示图片", name: "showImage", inputType: "ATTACHMENT", fileName: "showImageFile", maxFileCount: 1 }
            ]
        }

        $.getAjax("/health/video/get?id=" + $("#id").val(), function(data) {
            var model = new tonto.Model("model", options.columns, {
                pattern: data.status == 0 || data.status == 2 ? "normal" : "view",
                successCallback: function() {
                    $.successAlert("修改成功", function() {
                        window.location = "/health/video/index";
                    });
                },
                extraParam: {
                    id: $("#id").val()
                }
            });
            if (data.topOrderNo === 6 || data.topOrderNo === 7) {
                data.topOrderNo = '未排序'
            }
            model.setData(data);
            $.initComponment();
        });
    });

    function setStatus(stat) {
        $("#statusInput").val(stat);
    }
    </script>
</body>

</html>