<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    
    <section class="content-header">
        <h1>video_play_publish</h1>
        <ol class="breadcrumb">
            <li><a href="/health/video/play/publish/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "新增",
        url:"/health/video/play/publish/save",
        columns: [
				{ title: "月", name: "month", inputType: "TEXT" },
				{ title: "年", name: "year", inputType: "TEXT" },
				{ title: "播放次数", name: "count", inputType: "TEXT" },
				{ title: "日", name: "day", inputType: "TEXT" }
				]
    }

    $(function() {       
        var html = generateEditHtml(options);
        $(".content").html(html);
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            successCallback:function(){
                $.successAlert("保存成功",function(){
                    window.location = "/health/video/play/publish/index";
                });
            }
        });
        model.setData(null);
        $.initComponment();
    });
    </script>
</body>

</html>