<!DOCTYPE html>
<html>

<head>
    <title>宣教系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/assets/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/bootstrap-table/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/static/assets/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/static/assets/iCheck/square/_all.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap-treeview/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="/static/assets/layer/theme/default/layer.css" />
    <link rel="stylesheet" href="/static/assets/laydate/theme/default/laydate.css" />
    <link rel="stylesheet" href="/static/assets/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body class="container">
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">简单版</h3>
            </div>
            <div class="box-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p class="list-group-item-text">
                            不要超重，避免精神紧张，多做有益身体的运动，不吸烟。
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-text">
                            饮食治疗要适量控制能量及食盐量，降低脂肪和胆固醇的摄入水平，控制体重，防止或纠正肥胖，利尿排钠，调节血容量，保护心、脑、肾血管系统功能。采用低脂肪低胆固醇、低钠、高维生素、适量蛋白质和能量饮食。
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-text">
                            坚持有氧运动，不要做大幅度的运动。
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="list-group-item-text">
                            一些按摩方法可以帮助缓解高血压的症状。
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">完整版</h3>
            </div>
            <div class="box-body">
                <div class="panel-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            生活方式
                                        </h3>
                        </div>
                        <div class="panel-body" style="background-color: #fef47a4a">
                            <p>不要超重，避免精神紧张，多做有益身体的运动，不吸烟。</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    不要超重
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    人的体重指数（BMI）与血压水平是正相关的，体重指数越大，患高血压病的机率越高，体重指数（BMI）=体重（公斤）除以身高（米）平方，小于24者为正常。BMI≥24 kg/m2者发生高血压的风险是体重正常者的3～4倍。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    避免精神紧张
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    长期精神过度紧张也是高血压发病的危险因素，长期从事高度精神紧张工作的人员高血压患病率增加。因此要主张劳逸结合才是最重要的健康生活方式。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    参加体力活动
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    参加体力活动、不吸烟等积极生活方式。
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            饮食建议
                                        </h3>
                        </div>
                        <div class="panel-body" style="background-color: #fef47a4a">
                            <p>
                                饮食治疗要适量控制能量及食盐量，降低脂肪和胆固醇的摄入水平，控制体重，防止或纠正肥胖，利尿排钠，调节血容量，保护心、脑、肾血管系统功能。采用低脂肪低胆固醇、低钠、高维生素、适量蛋白质和能量饮食。
                            </p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 含钾高的食物
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    多吃含钾高的食物：豌豆苗、莴笋、芹菜、丝瓜等。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 含钙量高的食物
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    钙对高血压的治疗有一定的疗效，每天供给1000mg 左右。多食用含钙多的食物：黄豆、牛奶、花生、鱼虾、红枣、芹菜等。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 补充蛋白质
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    应该选用高生物价的优质蛋白，植物蛋白最好是占一半，动物蛋白选用鱼、鸡、牛肉、鸡蛋白、牛奶等。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 多摄入维生素
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    大剂量的维生素C可使胆固醇转化为胆汁酸排出体外，改善心功能和血液循环，宜多吃新鲜的蔬菜和水果。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 多糖食物
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    应该食用多糖类食物，如淀粉、玉米、小米等，同时还有高膳食纤维，可以促进肠蠕动，加速胆固醇的排出。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 钠盐
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    吃盐越多，高血压病患病率越高。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 高胆固醇食物
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    如动物内脏、蛋黄、乌贼鱼、脑髓等。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 碳水化合物
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    葡萄糖、果糖和蔗糖应该少吃。
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            运动建议
                                        </h3>
                        </div>
                        <div class="panel-body" style="background-color: #fef47a4a">
                            <p>
                                坚持有氧运动，不要做大幅度的运动。
                            </p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 有氧运动及等张运动
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    如步行、慢跑、踏车、游泳、跳舞、太极拳、降压体操、武术等。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 力量训练或等长运动
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    由于在运动过程中存有屏气动作，加重了心血管系统的负荷。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 大幅度的快速动作
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    运动训练不要做过分低头弯腰的动作，也不要做大幅度的快速动作。对于有并发症、失代偿等情况，最好不要作耗氧量大的运动，只适合做一些运动量小、安全性大、特异性强的运动。
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            医疗保健
                                        </h3>
                        </div>
                        <div class="panel-body" style="background-color: #fef47a4a">
                            <p>一些按摩方法可以帮助缓解高血压的症状。</p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    按摩百会穴可缓解头晕
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    头晕是高血压的典型表现，长期的高血压导致脑供血不足、应用降压药使当血压降得太低都可能导致头晕。按摩百会穴具有开窍醒脑，固阳固脱，升阳举陷的作用，可使高血压患者头晕减轻，让清爽的精神随时相伴。
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    决明子帮助高血压患者缓解压力
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                                    决明子具有清热明目、润肠通便之功效，高血压、高血脂症以及习惯性便秘等患者不妨在生活中适当食用。
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">完整版</h3>
            </div>
            <div class="box-body">
                <div class="panel-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            生活方式
                                        </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    不要超重
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    避免精神紧张
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                     参加体力活动、不吸烟等积极生活方式
                                                </font>
                                            </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            饮食建议
                                        </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 含钾高的食物
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 含钙量高的食物
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 补充蛋白质
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 多摄入维生素
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 多糖食物
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 钠盐
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 高胆固醇食物
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 碳水化合物
                                                </font>
                                            </h5>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            运动建议
                                        </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    宜: 有氧运动及等张运动
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 力量训练或等长运动
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    忌: 大幅度的快速动作
                                                </font>
                                            </h5>
                                <p class="list-group-item-text">
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="text-align: center">
                            <h3 class="panel-title">
                                            医疗保健
                                        </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    按摩百会穴可缓解头晕
                                                </font>
                                            </h5>
                            </li>
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">
                                                <font style="color: #9b703f">
                                                    决明子帮助高血压患者缓解压力
                                                </font>
                                            </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <script type="text/javascript" src="/static/assets/jquery/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/static/assets/bootstrap3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/assets/bootstrap-table/bootstrap-table.min.js"></script>
        <script type="text/javascript" src="/static/assets/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="/static/assets/adminLTE/js/adminlte.min.js"></script>
        <script type="text/javascript" src="/static/assets/layer/layer.js"></script>
        <script type="text/javascript" src="/static/assets/jquery-validation/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/static/assets/jquery-form/jquery.form.min.js"></script>
        <script type="text/javascript" src="/static/assets/bootstrap-treeview/bootstrap-treeview.min.js"></script>
        <script type="text/javascript" src="/static/assets/laydate/laydate.js"></script>
        <script type="text/javascript" src="/static/assets/bootstrap-fileinput/js/fileinput.js"></script>
        <script type="text/javascript" src="/static/assets/bootstrap-suggest/bootstrap-suggest.js"></script>
        <script type="text/javascript" src="/static/assets/iCheck/icheck.min.js"></script>
        <script type="text/javascript" src="/static/assets/echarts/echarts.min.js"></script>
        <script type="text/javascript" src="/static/js/common.js"></script>
        <script type="text/javascript" src="/static/js/common-model.js"></script>
    </div>
    <script type="text/javascript">
    /*<![CDATA[*/

    /*]]>*/
    </script>
</body>

</html>