<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.knowledge.KnowledgeServiceMapper">
	<update id="stopService">
		UPDATE knowledge_service SET enabled=0 WHERE service_code=#{id}
	</update>
	<update id="startService">
		UPDATE knowledge_service SET enabled=1 WHERE service_code=#{id}
	</update>
	<update id="stopCurrentService">
		UPDATE knowledge_service SET enabled=0 WHERE enabled=1
	</update>
</mapper>
