<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="enabled-type," />
    <section class="content-header">
        <h1>接口管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/prescription/interface/manage/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <input id="id" th:value="${id}"  type="hidden"/>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/health/prescription/interface/manage/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    $(function() {
        var options = {
            id: "model",
            name: "详情",
            url: "/health/prescription/interface/manage/update?appKey=" + $("#id").val(),
            columns: [
                { title: "appKey", name: "appKey", required: "required", inputType: "TEXT", editable: false },
                { title: "第三方名称", name: "name", required: "required", inputType: "TEXT" },
                { title: "是否启用", name: "enabled", required: "required", inputType: "RADIO", enum: "enabled-type" }
            ]
        };


        $.getAjax("/health/prescription/interface/manage/get?id=" + $("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>