<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="health/header" />

<body>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">表单</h3>
                <div class="pull-right box-tools">               
                    <a class="btn btn-default btn-sm" href="/health/system/user/index">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form class="form-horizontal tonto-form-validate" action="/health/system/user/save" callback-url="/health/system/user/index" method="post" th:object="${object}">
                    <input type="hidden" name="id" id="id" th:field="*{id}" />
                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label">用户账号：</label>
                        <div class="col-sm-3">
                            <input type="text" required="required" data-type="account" class="form-control" th:disabled="${isEdit}" th:field="*{account}" id="account" placeholder="请输入账号，5~30位数字，字母或下划线" />
                        </div>
                        <div class="col-sm-2" th:if="${isAdd}">
                            <button type="button" onclick="validateAccount()" class="btn btn-success">检测账号</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">用户名称：</label>
                        <div class="col-sm-3">
                            <input type="text" required="required" name="name" class="form-control" th:field="*{name}" placeholder="请输入用户名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">用户描述：</label>
                        <div class="col-sm-8">
                            <textarea name="description" class="form-control" rows="4" style="resize: none;" th:field="*{description}"></textarea>
                        </div>
                    </div>
                    <div class="form-group" th:if="${isSystemAdmin}">
                        <label for="isAdmin" class="col-sm-2 control-label">是否管理用户：</label>
                        <div class="col-sm-3">
                            <select name="isAdmin" class="form-control tonto-select-constant" enumcode="boolean" th:attr="selectedvalue=${object.isAdmin}"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-1">
                            <button type="submit" class="btn btn-primary btn-block">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:include="health/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    function validateAccount() {
        if ($("#userForm").validateElement("#account")) {
            var account = $("#account").val();
            $.getAjax("/health/system/user/validate/account?account=" + account, function(result) {
                if (result == 1)
                    layer.msg("账号可用", { icon: 1 });
                else
                    layer.msg("账号不可用", { icon: 2 });
            });
        }
    }
    /*]]>*/
    </script>
</body>

</html>