<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header" />

<body>
    <div class="container">
    	<div style="padding:20px">
        <form class="form-horizontal tonto-form-validate" id="userForm" action="/save" method="post" th:object="${user}">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-3">
                    <input type="text" required="required" class="form-control" id="name" th:field="*{name}" placeholder="请输入姓名" />
                </div>
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-3">
                    <select name="sex" class="form-control tonto-select-constant" required="required" enumcode="sex-type" th:attr="selectedvalue=${user.sex}"></select>
                </div>
            </div>        
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </form>
        </div>
    </div>
    <div th:include="footer"></div>
</body>
<script type="text/javascript">
</script>

</html>