<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="expression-type,permission-type,boolean,"/>
    <section class="content-header">
        <h1>org_permission</h1>
        <ol class="breadcrumb">
            <li><a href="/common/org/permission/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/health/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/common/org/permission/update?id="+$("#id").val(),
	        columns: [
				{ title: "表现形式", name: "expressionType", enum: "expression-type", inputType: "SELECT" },
				{ title: "表现内容", name: "expressionContent", inputType: "TEXT" },
				{ title: "权限描述", name: "description", inputType: "TEXT" },
				{ title: "权限类型", name: "type", enum: "permission-type", inputType: "SELECT" },
				{ title: "是否系统管理员权限", name: "isAdminMenu", enum: "boolean", inputType: "SELECT" },
				{ title: "父ID", name: "parentId", inputType: "TEXT" },
				{ title: "权限名称", name: "name", inputType: "TEXT" },
				{ title: "列表顺序", name: "listOrder", inputType: "TEXT" }
				]
	    }
    
        $.getAjax("/common/org/permission/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
            $.initComponment();
        });
    });
    </script>
</body>

</html>