<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="boolean,role-level,boolean,"/>
    <section class="content-header">
        <h1>org_role</h1>
        <ol class="breadcrumb">
            <li><a href="/common/org/role/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/health/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/common/org/role/update?id="+$("#id").val(),
	        columns: [
				{ title: "角色名称", name: "roleName", inputType: "TEXT" },
				{ title: "是否启用", name: "enable", enum: "boolean", inputType: "SELECT" },
				{ title: "角色等级", name: "roleLevel", enum: "role-level", inputType: "SELECT" },
				{ title: "角色说明", name: "roleDesc", inputType: "TEXT" },
				{ title: "是否默认角色", name: "isDefault", enum: "boolean", inputType: "SELECT" }
				]
	    }
    
        $.getAjax("/common/org/role/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
            $.initComponment();
        });
    });
    </script>
</body>

</html>