<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header" />

<body>
    <tt:constant enumcode="boolean,role-level" />
    <section class="content-header">
        <h1>角色管理</h1>
        <ol class="breadcrumb">
            <li><a href="/common/org/role/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">新增角色</h3>
                <div class="box-tools pull-right">
                </div>
            </div>
            <div id="model_edit" class="box-body">
                <form id="model_form" action="/common/org/role/save" method="post" class="form-horizontal edit-body">
                    <div class="form-group">
                        <label for="roleName" class="col-sm-3 control-label">角色名称：</label>
                        <div class="col-sm-3">
                            <input name="roleName" placeholder="请输入角色名称" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roleLevel" class="col-sm-3 control-label">角色权限等级：</label>
                        <div class="col-sm-3">
                            <select name="roleLevel" class="form-control tonto-select-constant" enumcode="role-level">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="enable" class="col-sm-3 control-label">是否启用：</label>
                        <div class="col-sm-8">
                            <div name="enable" class="tonto-radio-constant" enumcode="boolean"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="roleDesc" class="col-sm-3 control-label">角色说明：</label>
                        <div class="col-sm-8">
                            <textarea name="roleDesc" rows="5" placeholder="请输入角色说明" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-3">
                            <button type="submit" id="model_form_submit_btn" class="btn btn-primary btn-block">保存</button>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <button type="button" id="reply_btn" class="btn btn-default btn-block">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:include="/common/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        name: "新增",
        url: "/org/role/save",
        columns: [
            { title: "角色名称", name: "roleName", inputType: "TEXT" },
            { title: "角色权限等级", name: "roleLevel", inputType: "SELECT", enum: "role-level", colspan: 2 },
            { title: "是否启用", name: "enable", inputType: "RADIO", enum: "boolean", colspan: 2 },
            { title: "角色说明", name: "roleDesc", inputType: "TEXTAREA" }
        ]
    }

    $(function() {
        $("#reply_btn").click(function () {
            window.location = "/common/org/role/index";
        });
        var model = new tonto.Model("model", options.columns, {
            pattern: "edit",
            successCallback: function() {
                $.successAlert("保存成功", function() {
                    window.location = "/common/org/role/index";
                });
            }
        });
        model.setData(null);
    });
    </script>
</body>

</html>