<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.diagnose.DiagnoseTargetFactorMapper">
	<delete id="deleteByTarget">
		DELETE FROM diagnose_target_factor WHERE target_id =#{targetId}
	</delete>


	<insert id="insertByBatch">
		INSERT INTO diagnose_target_factor (target_id,factor_code,factor_type,factor_level,create_time,create_by) VALUES
		<foreach collection="coll" item="item" index="index" separator=",">
			(#{item.targetId}, #{item.factorCode}, #{item.factorType}, #{item.factorLevel}, #{item.createTime}, #{item.createBy})
		</foreach>
	</insert>


	<select id="searchDiagnoseTargetFactor"
			resultType="com.paladin.health.service.diagnose.vo.DiagnoseTargetSimpleVO">
		SELECT
		dt.id,
		dt.`name`,
		dt.sex,
		dt.birthday,
		dt.cellphone,
		GROUP_CONCAT( CONCAT_WS('-',dtf.factor_code,dtf.factor_type,dtf.factor_level)) as factors
		FROM
		diagnose_target AS dt
		LEFT JOIN diagnose_target_factor AS dtf ON dt.id = dtf.target_id
		where  1 =1
	  	<if test="query.name != null and query.name != ''">
			AND  dt.name LIKE  CONCAT ('%',#{query.name} ,'%')
		</if>
		<if test="query.targetId != null">
			AND dt.id = #{query.targetId}
		</if>
		<if test="query.factorType != null and query.factorCode != null">
			AND IF( #{query.factorType} =1 OR #{query.factorType} = 2 , dtf.factor_code = #{query.factorCode} AND dtf.factor_type = #{query.factorType},dtf.factor_code = #{query.factorCode}  AND dtf.factor_level >= ifnull(#{query.factorLevel},0) AND dtf.factor_type = #{query.factorType} )
		</if>
		GROUP BY dt.id
		ORDER BY dt.update_time DESC
	</select>
</mapper>
