<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.diagnose.DiagnoseRecordMapper">

	<update id="updateCorrectPrescription">
		UPDATE diagnose_record SET correct_prescription=#{correctPrescription},update_time=now(),send_message=#{sendMessage},send_status=#{sendStatus},send_error=#{sendError} WHERE id=#{id} 
	</update>

	<select id="findRecordBySearchId" resultType="com.paladin.health.model.diagnose.DiagnoseRecord">
		SELECT
			id,
			target_id AS targetId,
			factors,
			target_condition AS targetCondition,
			prescription,
			correct_prescription AS correctPrescription,
			type,
			create_time AS createTime,
			update_time AS updateTime,
			create_by AS createBy,
			search_id AS searchId,
			message,
			send_message AS sendMessage
		FROM diagnose_record
		WHERE search_id=#{searchId}
		AND create_by=#{accessKey}
		ORDER BY create_time DESC LIMIT 1		
	</select>

</mapper>
