<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.diagnose.DiagnoseRecordMapper">

	<update id="updateCorrectPrescription">
		UPDATE diagnose_record SET correct_prescription=#{correctPrescription},update_time=now() WHERE id=#{id} 
	</update>

</mapper>
