<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.diagnose.DiagnoseRecordMapper">

	<update id="updateCorrectPrescription">
		UPDATE diagnose_record SET 
		correct_prescription=#{correctPrescription},update_time=now(),
		send_message=#{sendMessage},send_status=#{sendStatus},
		send_error=#{sendError},send_cellphone=#{sendCellphone},
		confirmer=#{confirmer} WHERE id=#{id} 
	</update>

	<select id="findRecordBySearchId" resultType="com.paladin.health.model.diagnose.DiagnoseRecord">
		SELECT
			id,
			target_id AS targetId,
			factors,
			target_condition AS targetCondition,
			prescription,
			correct_prescription AS correctPrescription,
			type,
			create_time AS createTime,
			update_time AS updateTime,
			create_by AS createBy,
			search_id AS searchId,
			message,
			send_message AS sendMessage,
			send_error AS sendError,
			send_status AS sendStatus,
			send_cellphone AS sendCellphone,
			doctor_name AS doctorName,
			hospital_name AS hospitalName,
			confirmer
		FROM diagnose_record
		WHERE search_id=#{searchId}
		AND create_by=#{accessKey}
		ORDER BY create_time DESC LIMIT 1		
	</select>
	
	<select id="findLastRecordByIdentificationId" resultType="com.paladin.health.model.diagnose.DiagnoseRecord">
		SELECT
			id,
			target_id AS targetId,
			factors,
			target_condition AS targetCondition,
			prescription,
			correct_prescription AS correctPrescription,
			type,
			create_time AS createTime,
			update_time AS updateTime,
			create_by AS createBy,
			search_id AS searchId,
			message,
			send_message AS sendMessage,
			send_error AS sendError,
			send_status AS sendStatus,
			send_cellphone AS sendCellphone,
			doctor_name AS doctorName,
			hospital_name AS hospitalName,
			confirmer
		FROM diagnose_record
		WHERE target_id=#{identificationId}
		ORDER BY create_time DESC LIMIT 1		
	</select>
	<select id="countRecordByHospitalName"
			resultType="com.paladin.health.service.diagnose.vo.DiagnoseRecordCountVO">
		SELECT
		COALESCE ( t1.`name`,#{hospitalName} , "无" ) AS hospitalName,
		COALESCE ( t1.count, 0 ) AS total
		FROM
		(
		SELECT
		d.hospital_name AS `name`,
		COUNT( d.hospital_name ) AS count
		FROM
		diagnose_record AS d
		WHERE send_status IS NOT NULL
		<if test="hospitalName != null and hospitalName != ''">
			AND d.hospital_name LIKE CONCAT('%',#{hospitalName} ,'%')
		</if>
		<if test="bgTime != null">
			AND d.update_time >= #{bgTime}
		</if>
		<if test="endTime != null">
			AND d.update_time <![CDATA[ <=]]> #{endTime}
		</if>
		GROUP BY
		d.hospital_name
		) t1
		RIGHT JOIN ( SELECT 0 ) t2 ON 1 = 1
	</select>
	
	<select id="countSendedRecordByHospitalName"
			resultType="com.paladin.health.service.diagnose.vo.DiagnoseRecordCountVO">
		SELECT
		COALESCE ( t1.`name`,#{hospitalName} , "无" ) AS hospitalName,
		COALESCE ( t1.count, 0 ) AS total
		FROM
		(
		SELECT
		d.hospital_name AS `name`,
		COUNT( d.hospital_name ) AS count
		FROM
		diagnose_record AS d
		WHERE send_status IS NOT NULL AND send_status != -1
		<if test="hospitalName != null and hospitalName != ''">
			AND d.hospital_name LIKE CONCAT('%',#{hospitalName} ,'%')
		</if>
		<if test="bgTime != null">
			AND d.update_time >= #{bgTime}
		</if>
		<if test="endTime != null">
			AND d.update_time <![CDATA[ <=]]> #{endTime}
		</if>
		GROUP BY
		d.hospital_name
		) t1
		RIGHT JOIN ( SELECT 0 ) t2 ON 1 = 1
	</select>
</mapper>
