<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.health.mapper.origin.OriginSymptomKnowledgeMapper">
	<select id="getMaxId" resultType="Integer">
		SELECT MAX(id) FROM origin_symptom_knowledge WHERE id &lt; #{id}
	</select>
	
	<select id="getContentMaxId" resultType="Integer">
		SELECT MAX(id) FROM origin_symptom_knowledge_content WHERE id &lt; #{id}
	</select>
	
	<delete id="deleteSymptomKnowledge">
		DELETE FROM origin_symptom_knowledge WHERE symptom_key = #{symptom}
	</delete>
	
	<delete id="deleteSymptomContent">
		DELETE FROM origin_symptom_knowledge_content WHERE symptom_key = #{symptom}
	</delete>
</mapper>
