<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="enabled-type," />
    <section class="content-header">
        <h1>知识库服务管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/knowledge/service/index"><i class="fa fa-table"></i>服务列表</a></li>
            <li class="active">添加服务</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/health/knowledge/service/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/health/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        cancelBtn: false,
        name: "新增",
        url: "/health/knowledge/service/save",
        columns: [
            { title: "服务编码", name: "serviceCode", required: "required", inputType: "TEXT" },
            { title: "服务名称", name: "serviceName", required: "required", inputType: "TEXT" },
            { title: "是否启用", name: "enabled", enum: "enabled-type", inputType: "RADIO" },
            { title: "备注", name: "note", inputType: "TEXTAREA" }           
        ]
    }

    $(function() {
        var html = generateEditHtml(options);
        $(".content").html(html);
        $.initComponment($(".content"));

        var model = new tonto.Model("model", options.columns, {
            pattern: "edit",
            successCallback: function() {
                $.successAlert("保存成功", function() {
                    window.location = "/health/knowledge/service/index";
                });
            }
        });
        model.setData(null);
    });
    </script>
</body>

</html>