<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/health/header" />

<body>
    <tt:constant enumcode="enabled-type," />
    <section class="content-header">
        <h1>知识库服务管理</h1>
        <ol class="breadcrumb">
            <li><a href="/health/knowledge/service/index"><i class="fa fa-list-alt"></i>服务列表</a></li>
            <li class="active">服务详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/health/knowledge/service/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/health/footer" />
    <script type="text/javascript">
    $(function() {
        var options = {
            id: "model",
            name: "详情",
            url: "/health/knowledge/service/update?serviceCode=" + $("#id").val(),
            columns: [
                { title: "服务编码", name: "serviceCode", required: "required", inputType: "TEXT", editable:false },
                { title: "服务名称", name: "serviceName", required: "required", inputType: "TEXT" },
                { title: "是否启用", name: "enabled", enum: "enabled-type", inputType: "RADIO" },
                { title: "备注", name: "note", inputType: "TEXTAREA" }
            ]
        }

        $.getAjax("/health/knowledge/service/get?id=" + $("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>