<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="health/header" />
<link rel="stylesheet" href="/static/assets/bootstrap-treeview/bootstrap-treeview.min.css" />

<body>
    <section class="content-header">
        <h1>疾病数据管理<small></small></h1>
    </section>
    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="diseaseInput" placeholder="请输入疾病名称或拼音" class="form-control" />
                    <span class="input-group-btn"><button class="btn btn-default" id="searchBtn" type="button">查找</button></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tree" class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-info-circle"></i>
                        <h3 class="box-title">详情</h3>
                    </div>
                    <div id="contents" class="box-body">
                    </div>
                </div>
            </div>
    </section>
    <div th:include="health/footer" />
    <script type="text/javascript" src="/static/assets/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script type="text/javascript" src="/static/js/health/origin/disease_knowledge_index.js"></script>
</body>

</html>