<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/health/header" />
<link rel="stylesheet" href="/static/assets/bootstrap-treeview/bootstrap-treeview.min.css" />

<body>
    <section class="content">
        <div>
            <input type="hidden" id="diseaseKey" th:value="${diseaseKey}" />
            <input type="hidden" id="diseaseName" th:value="${diseaseName}" />
            <div>
                <div class="col-md-4">
                    <div class="box box-solid" style="margin-top:20px">
                        <div class="box-header with-border">
                            <i class="fa fa-info-circle"></i>
                            <h3 class="box-title">简介</h3>
                        </div>
                        <div id="diseaseSummary" class="box-body">
                        </div>
                    </div>
                    <div class="box box-solid" style="margin-top:20px">
                        <div class="box-header with-border">
                            <i class="fa fa-info-circle"></i>
                            <h3 class="box-title">基本知识</h3>
                        </div>
                        <div id="diseaseBaseKnow" class="box-body">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box box-solid" style="margin-top:20px">
                        <div class="box-header with-border">
                            <i class="fa fa-info-circle"></i>
                            <h3 class="box-title">内容</h3>
                        </div>
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#zztz" class="zztz" data-toggle="tab" aria-expanded="true">典型症状</a></li>
                                    <li class=""><a href="#blby" class="blby" data-toggle="tab" aria-expanded="false">病理病因</a></li>
                                    <li class=""><a href="#yfhl" class="yfhl" data-toggle="tab" aria-expanded="false">预防</a></li>
                                    <li class=""><a href="#jcjb" class="jcjb" data-toggle="tab" aria-expanded="false">检查</a></li>
                                    <li class=""><a href="#jb" class="jb" data-toggle="tab" aria-expanded="false">鉴别</a></li>
                                    <li class=""><a href="#yyzl" class="yyzl" data-toggle="tab" aria-expanded="false">治疗</a></li>
                                    <li class=""><a href="#hl" class="hl" data-toggle="tab" aria-expanded="false">护理</a></li>
                                    <li class=""><a href="#ysbj" class="ysbj" data-toggle="tab" aria-expanded="false">饮食保健</a></li>
                                    <li class=""><a href="#bfbz" class="bfbz" data-toggle="tab" aria-expanded="false">并发病症</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="zztz">
                                    </div>
                                    <div class="tab-pane" id="blby">
                                    </div>
                                    <div class="tab-pane" id="yfhl">
                                    </div>
                                    <div class="tab-pane" id="jcjb">
                                    </div>
                                    <div class="tab-pane" id="jb">
                                    </div>
                                    <div class="tab-pane" id="yyzl">
                                    </div>
                                    <div class="tab-pane" id="hl">
                                    </div>
                                    <div class="tab-pane" id="ysbj">
                                    </div>
                                    <div class="tab-pane" id="bfbz">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/health/footer" />
    <script type="text/javascript" src="/static/js/health/origin/disease_knowledge_index.js"></script>
    <script type="text/javascript" src="/static/assets/bootstrap-treeview/bootstrap-treeview.min.js"></script>
</body>

</html>