<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="health/header" />
<link rel="stylesheet" href="/static/assets/bootstrap-treeview/bootstrap-treeview.min.css" />

<body>
    <section class="content">
        <div>
            <div class="col-md-12">
            	<div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" id="symptomInput" placeholder="请输入症状名称或拼音" /> 
                        <span class="input-group-btn">
			                <button type="button" name="search" id="search-btn" class="btn btn-flat" onclick="search_menu()"><i class="fa fa-search"></i>
			                </button>
			                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
			             </span>                                          
                    </div>
                </div>
            </div>
            <div>
                <div class="col-md-4">
                    <div class="box box-solid" style="margin-top:20px">
                        <div class="box-header with-border">
                            <i class="fa fa-info-circle"></i>
                            <h3 class="box-title">简介</h3>
                        </div>
                        <div id="symptomSummary" class="box-body">
                        </div>
                    </div>                
                </div>
                <div class="col-md-8">
                    <div class="box box-solid" style="margin-top:20px">
                        <div class="box-header with-border">
                            <i class="fa fa-info-circle"></i>
                            <h3 class="box-title">内容</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-3">
                                <div id="tree">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#zzqy" data-toggle="tab" aria-expanded="true">症状起因</a></li>
                                        <li class=""><a href="#zdxs" data-toggle="tab" aria-expanded="false">诊断详情</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="zzqy">
                                        </div>
                                        <div class="tab-pane" id="zdxs">
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="health/footer" />
    <script type="text/javascript" src="/static/assets/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script type="text/javascript" src="/static/js/health/origin/symptom_knowledge_index.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-suggest.js"></script>
</body>

</html>